 :root {
            --primary-color: #0b0724;
            --secondary-color: #d1963d;
        } ul li, a {
            font-family: Times New Roman!important;
           
        }body,div,p {
            font-family: Times New Roman!important;
           
        }h1,h2,h3,h4,h5,h6,span {
            font-family: Times New Roman!important;
           
        }