/*=========================================================================================
	File Name: horizontal-menu.scss
	Description: A classic horizontal menu for easy navingation & support all devices.
	It support light & dark version, filpped layout, right side icons, borders menu for
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	 Version: 3.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.horizontal-menu .navbar-horizontal .nav-item i {
  font-size : 1.6rem;
  margin-left : 0.5rem;
}

.horizontal-menu .navbar-horizontal .nav-item a span {
  font-size : 1.1rem;
  position : relative;
  top : -2px;
}

.horizontal-menu .navbar-horizontal.navbar-icon-right .nav-item i {
  top : -4px;
  position : relative;
}

.horizontal-menu .navbar-horizontal ul#main-menu-navigation > li > a {
  padding : 1.8rem 1rem;
}

.horizontal-menu #main-menu-navigation ul li a span {
  -webkit-transition : all 0.2s ease;
       -o-transition : all 0.2s ease;
     -moz-transition : all 0.2s ease;
          transition : all 0.2s ease;
  display : inline-block;
}
.horizontal-menu #main-menu-navigation ul li a span:hover, .horizontal-menu #main-menu-navigation ul li a span .hover {
  -webkit-transform : translateX(-4px);
     -moz-transform : translateX(-4px);
      -ms-transform : translateX(-4px);
       -o-transform : translateX(-4px);
          transform : translateX(-4px);
}

.horizontal-menu.menu-collapsed #main-menu-navigation .nav-item > a > span {
  display : none;
}

.horizontal-menu .navigation-header {
  font-family : inherit;
  color : #929292;
  padding : 8px 20px;
  font-size : 1rem;
}

.horizontal-menu .navbar-flipped .navbar-nav .nav-item {
  float : left;
}

.horizontal-menu .navbar-light ul#main-menu-navigation > li.active > a {
  border-bottom : 1px solid #d1963d;
  background : #FFFFFF;
}

.horizontal-menu .navbar-light .active > a {
  background : whitesmoke;
  font-weight : 500;
}

.horizontal-menu .navbar-dark .nav-item.active > a {
  background-color : rgba(255, 255, 255, 0.05);
}

.horizontal-menu .navbar-dark .nav-item:hover, .horizontal-menu .navbar-dark .nav-item .hover {
  background-color : rgba(255, 255, 255, 0.05);
}

.horizontal-menu .navbar-dark .active > a {
  background : whitesmoke;
  font-weight : 500;
}

.horizontal-menu[data-col='content-left-sidebar'] .sticky-wrapper {
  float : none;
}

.horizontal-layout .main-menu .navigation > li > ul > li > a i {
  margin-left : 0.5rem;
}

@media (max-width: 767px) {
  .horizontal-layout.horizontal-menu-padding .header-navbar.navbar-with-menu .navbar-container {
    max-width : 100%;
  }
}

/*=========================================================================================
	File Name: vertical-overlay-menu.scss
	Description: A overlay style vertical menu with show and hide support. It support 
	light & dark version, filpped layout, right side icons, native scroll and borders menu 
	item seperation.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	 Version: 3.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/
.vertical-overlay-menu .content {
  margin-right : 0;
}

.vertical-overlay-menu .navbar .navbar-header {
  float : right;
  width : 260px;
}

.vertical-overlay-menu .navbar.navbar-brand-center .navbar-container {
  margin-right : 0;
}

.vertical-overlay-menu .navbar.navbar-brand-center .navbar-header {
  float : right;
  width : auto;
}

.vertical-overlay-menu .main-menu, .vertical-overlay-menu.menu-hide .main-menu {
  opacity : 0;
  -webkit-transform : translate3d(0, 0, 0);
     -moz-transform : translate3d(0, 0, 0);
          transform : translate3d(0, 0, 0);
  -webkit-transition : width 0.25s, opacity 0.25s, -webkit-transform 0.25s;
          transition : width 0.25s, opacity 0.25s, -webkit-transform 0.25s;
       -o-transition : width 0.25s, opacity 0.25s, -o-transform 0.25s;
     -moz-transition : width 0.25s, opacity 0.25s, transform 0.25s, -moz-transform 0.25s;
          transition : width 0.25s, opacity 0.25s, transform 0.25s;
          transition : width 0.25s, opacity 0.25s, transform 0.25s, -webkit-transform 0.25s, -moz-transform 0.25s, -o-transform 0.25s;
  width : 260px;
  right : -260px;
}
.vertical-overlay-menu .main-menu .navigation .navigation-header .la-ellipsis-h, .vertical-overlay-menu .main-menu .navigation .navigation-header .nav-menu-icon {
  display : none;
}
.vertical-overlay-menu .main-menu .navigation > li > a > i {
  font-size : 1.6rem;
  margin-left : 12px;
  float : right;
}
.vertical-overlay-menu .main-menu .navigation > li > a > i:before {
  -webkit-transition : 200ms ease all;
       -o-transition : 200ms ease all;
     -moz-transition : 200ms ease all;
          transition : 200ms ease all;
}
.vertical-overlay-menu .main-menu .navigation li.has-sub > a:not(.mm-next):after {
  content : '\f112';
  font-family : 'LineAwesome';
  font-size : 1rem;
  display : inline-block;
  position : absolute;
  left : 20px;
  top : 14px;
  -webkit-transform : rotate(0deg);
     -moz-transform : rotate(0deg);
      -ms-transform : rotate(0deg);
       -o-transform : rotate(0deg);
          transform : rotate(0deg);
  transition : -webkit-transform 0.2s ease-in-out;
}
.vertical-overlay-menu .main-menu .navigation li.has-sub .has-sub > a:not(.mm-next):after {
  top : 8px;
}
.vertical-overlay-menu .main-menu .navigation li.open > a:not(.mm-next):after {
  -webkit-transform : rotate(-90deg);
     -moz-transform : rotate(-90deg);
      -ms-transform : rotate(-90deg);
       -o-transform : rotate(-90deg);
          transform : rotate(-90deg);
}
.vertical-overlay-menu .main-menu .main-menu-footer {
  bottom : 55px;
}
.vertical-overlay-menu .main-menu .main-menu-footer {
  width : 260px;
}

.vertical-overlay-menu.menu-open .main-menu {
  opacity : 1;
  -webkit-transform : translate3d(-260px, 0, 0);
     -moz-transform : translate3d(-260px, 0, 0);
          transform : translate3d(-260px, 0, 0);
  -webkit-transition : width 0.25s, opacity 0.25s, -webkit-transform 0.25s;
          transition : width 0.25s, opacity 0.25s, -webkit-transform 0.25s;
       -o-transition : width 0.25s, opacity 0.25s, -o-transform 0.25s;
     -moz-transition : width 0.25s, opacity 0.25s, transform 0.25s, -moz-transform 0.25s;
          transition : width 0.25s, opacity 0.25s, transform 0.25s;
          transition : width 0.25s, opacity 0.25s, transform 0.25s, -webkit-transform 0.25s, -moz-transform 0.25s, -o-transform 0.25s;
}

.vertical-overlay-menu.menu-flipped .main-menu {
  left : -260px;
  right : inherit;
}

.vertical-overlay-menu.menu-flipped .navbar .navbar-container {
  margin : 0;
  margin-left : 260px;
}

.vertical-overlay-menu.menu-flipped .navbar .navbar-header {
  float : left;
}

.vertical-overlay-menu.menu-flipped.menu-open .main-menu {
  -webkit-transform : translate3d(260px, 0, 0);
     -moz-transform : translate3d(260px, 0, 0);
          transform : translate3d(260px, 0, 0);
}

.vertical-overlay-menu footer.footer.fixed-bottom {
  z-index : 999;
}

@media (max-width: 991.98px) {
  .vertical-overlay-menu .main-menu .main-menu-footer {
    bottom : 0;
  }
  .vertical-overlay-menu[data-menu='vertical-compact-menu'].boxed-layout.menu-open .main-menu {
    -webkit-transform : translate3d(-120px, 0, 0);
       -moz-transform : translate3d(-120px, 0, 0);
            transform : translate3d(-120px, 0, 0);
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .vertical-overlay-menu #navbar-mobile .search-input.open .input {
    border-bottom : 1px solid #FFFFFF;
  }
}

@media (max-width: 768px) {
  .vertical-overlay-menu .header-navbar .navbar-header .mobile-menu a.menu-toggle {
    padding-top : 1rem;
  }
  .vertical-overlay-menu .header-navbar .navbar-header li.nav-item.d-md-none a.open-navbar-container {
    padding-top : 1rem;
  }
}