/* quicksand-300 - latin */

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/quicksand-v21-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/quicksand-v21-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v21-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v21-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v21-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v21-latin-300.svg#Quicksand') format('svg');
    /* Legacy iOS */
}


/* quicksand-regular - latin */

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/quicksand-v21-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/quicksand-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v21-latin-regular.svg#Quicksand') format('svg');
    /* Legacy iOS */
}


/* quicksand-500 - latin */

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/quicksand-v21-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/quicksand-v21-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v21-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v21-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v21-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v21-latin-500.svg#Quicksand') format('svg');
    /* Legacy iOS */
}


/* quicksand-600 - latin */

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/quicksand-v21-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/quicksand-v21-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v21-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v21-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v21-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v21-latin-600.svg#Quicksand') format('svg');
    /* Legacy iOS */
}


/* quicksand-700 - latin */

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/quicksand-v21-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/quicksand-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v21-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v21-latin-700.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

.radius_tab {
    border-radius: 10px;
}

.category-color {
    color: #87A0AC;
}

.right-name-show {
    padding-top: 25px;
    padding-right: 25px;
}

.left-name-show {
    padding-top: 25px;
    padding-left: 25px;
}

.btn .btn-primary {
    background: #0a001f;
}

.tooltip-index {
    position: relative;
    display: inline-block;
}

.tooltip-index .tooltiptext-index {
    visibility: hidden;
    width: 250px;
    /* background-color: #3498db; */
    background-color: rgba(0, 0, 0, 0.5);
    /* opacity: 0.2; */
    color: #fff;
    text-align: center;
    border-radius: 6px;
    /* padding: 5px 0; */
    padding: 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -125px;
}

.tooltip-index:hover .tooltiptext-index {
    visibility: visible;
}

.tooltip-index .tooltiptext-index::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    opacity: 0.5;
}

.rabio-bttuon-big {
    width: 1.4em;
    height: 1.4em;
}

.image-profile {
    width: 150px;
    border-width: 0;
    background-color: #fff;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    position: relative;
    z-index: 4;
    box-shadow: 0 5px 20px 0 #1E9FF2, 0 0 0 7px #0a55a4;
    display: block;
}

.text-profile {
    transform: translateY(-50%);
    position: relative;
}

.text-profile h3 {
    font-weight: 700;
    font-size: 24px;
    color: #0d6fc6;
}

@media only screen and (max-width: 800px) {
    .text-profile h3 {
        font-weight: 700;
        font-size: 19px;
        color: #0d6fc6;
    }
    .text-profile h4 {
        /*font-weight: 700;*/
        font-size: 15px;
        /*color: #1E9FF2;*/
    }
    .image-profile {
        /*margin-top: 30px;*/
        width: 120px;
        border-width: 0;
        background-color: #fff;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(-50%);
        position: relative;
        z-index: 4;
        display: block;
        box-shadow: 0 5px 20px 0 #1E9FF2, 0 0 0 7px #0a55a4;
    }
    .long-mode {
        max-width: 100%;
    }
    .chart-dashboard {
        margin: 0 100px 0 100px
    }
}

@media only screen and (min-width: 801px) {
    .chart-dashboard {
        margin: 0 15px 0 15px
    }
    .long-mode {
        max-width: 60%;
    }
    @media only screen and (max-width: 1380px) {
        .long-mode {
            max-width: 80%;
        }
    }
    @media only screen and (max-width: 1130px) {
        .long-mode {
            max-width: 90%;
        }
    }
}

.button-orange {
    border-radius: 15px;
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
}

.button-orange:hover {
    box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
}


/*.btn-primary {*/


/*    background: linear-gradient(45deg, #002581, #071b4d);*/


/*    border-color: #071b4d;*/


/*    !*background: linear-gradient(45deg, #0e71c8, #002581);*!*/


/*    !*background: linear-gradient(45deg, #1da1f2, #0e71c8);*!*/


/*    !*box-shadow: 0px 1px 9px rgba(19, 127, 212, 0.4);*!*/


/*}*/


/*.btn-outline-primary{*/


/*    color: #002581;*/


/*    border-color: #002581;*/


/*}*/


/*.btn-outline-primary:hover {*/


/*    background: linear-gradient(45deg, #002581, #071b4d);*/


/*    !*background: linear-gradient(45deg, #0e71c8, #002581);*!*/


/*}*/


/*.btn-outline-primary.active {*/


/*    background: linear-gradient(45deg, #002581, #071b4d);*/


/*}*/

.button-blue-profile {
    border-radius: 15px;
    background: linear-gradient(45deg, #002581, #071b4d);
    /*background: linear-gradient(45deg, #0e71c8, #002581);*/
    /*background: linear-gradient(45deg, #0e71c8, #0e71c8);*/
    /*box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);*/
}


/*.btn-primary:hover,*/


/*.button-blue-profile:hover {*/


/*    box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);*/


/*}*/

.button-blue-profile:focus {
    /*background-color: #0fbad6;*/
}

.dropdown-item:focus,
.page-item.active .page-link {
    /*background: linear-gradient(45deg, #0e71c8, #002581);*/
    background-color: #214679;
}

.main-menu.menu-light .navigation>li ul .active>a i {
    /*color: yellow;*/
}

.div-style-group {
    background-color: #fcfcfc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.padding-10 {
    padding: 10px;
}

.padding-bottom {
    padding-bottom: 15px
}

.color-red {
    color: red;
}

.color-blue {
    color: #0d6fc6;
}

.error-massege {
    font-size: 12px;
    color: red
}

.error-message {
    font-size: 12px;
    color: red;
    margin-bottom: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.action-item i.la {
    font-size: 1.3rem;
}

.table-custom-responsive {
    display: block !important;
}

@media (min-width: 768px) {
    .table-custom-responsive {
        display: table !important;
    }
    .btn-save-ctg- {
        margin-top: 29px;
    }
}

.ellipsis-300 {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.img-user-show-40 {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.img-user-show-100 {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.img-user-show-150 {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.navbar-dark {
    background: #131313;
}

.app-content {}

.main-menu.menu-light .navigation li i {}

.main-menu.menu-light .navigation>li.open>a {
    border-left: 4px solid #3b3b3b;
    /*border-left:4px solid #131313*/
}

html body a {
    color: #131313;
}

.btn-primary {
    border-color: #131313 !important;
    background: radial-gradient(#031627, #030f1a, #010c16) !important;
    color: #FFFFFF !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:active,
.btn-primary:focus {
    border-color: #111116 !important;
    background-color: #111116 !important;
    color: #FFFFFF;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    background-color: #214679;
    border-color: #214679;
    color: #FFFFFF;
}


/*swal*/

.swal-icon--success {
    border-color: #131313 !important;
}

.swal-icon--success__line {
    /*background-color: #bb4593 !important;*/
    background-color: #131313 !important;
}

.swal-button {
    background-color: #131313;
    /*background-color: #131313;*/
}

.swal-button:active,
.swal-button:hover {
    background-color: #214679 !important;
}

.swal-button--cancel {
    color: #fff;
}


/*.swal-icon--warning__body, .swal-icon--warning__dot {*/


/*    background-color: #fab216;*/


/*}*/

.swal-icon--success__ring {
    border: 4px solid hsl(40deg 55% 69% / 20%);
}

.swal-title {
    /*color: #fab216;*/
}


/*end swal*/

.color-primary {
    color: #131313;
}

.img-index-40 {
    max-width: 40px;
    max-height: 40px
}

.img-index-30 {
    max-width: 30px;
    max-height: 30px
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(245, 247, 250, 0.5);
}

.tr-color-red {
    background-color: #ff041508 !important;
}

.tr-color-success {
    background-color: #00ff260f !important;
}

.tr-color-active {
    background-color: #cfdffe54 !important;
}


/*shadow modal*/

.modal-backdrop {
    opacity: 0 !important;
}

.modal-backdrop:last-of-type {
    opacity: 0.5 !important;
}

.modal-content {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}


/*shadow modal*/

.badge[class*='badge-'] span {
    color: #000;
}

button.close {
    right: 0;
}

.btn-outline-primary {
    border-color: #131313;
    background-color: transparent;
    color: #131313;
}

.btn-outline-primary:hover {
    background-color: #131313;
    border-color: #131313;
    color: #FFFFFF !important;
}

.bg-primary {
    color: #131313;
}

@media (max-width: 500px) {
    .user-display.col-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.66667%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
        padding-right: 0 !important;
        padding-top: 10px !important;
    }
    .user-display.col-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.33333%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
}

label {
    color: #6B6F82 !important;
}

.color-info {
    color: #0092e2;
}

.text-line-td td,
.text-line-td td button {
    text-decoration: line-through;
}

.m-lr-25 {
    margin: auto 25px;
}

.yellow {
    color: #d1963d!important;
}

.modal {
    overflow: auto;
}

.icon-notify-img {
    position: absolute;
    left: -5px;
    bottom: -5px;
}

.bg-orange {
    color: #fff;
    background-color: #fab216;
}

body.vertical-layout.vertical-menu-modern.menu-collapsed .navbar .navbar-brand,
.header-navbar .navbar-header .navbar-brand {
    padding: 13px 0;
}

.navbar-brand img {
    margin: 0px 36px;
    height: 55px;
}


/*dark*/

html body {
    background-color: #131313;
}

body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation>li>a>i {
    margin-left: 12px;
    float: right;
    color: #eeeeee
}

.card,
.card-header {
    background-color: #131313;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input,
select,
textarea {
    border-color: #2d2d3f !important;
    background: #131313 !important;
    color: #fff !important;
}

table {
    color: #e1e1e1;
}

.main-menu.menu-light,
.main-menu.menu-light .nav-item {
    color: #cdcdcd;
    background: #131313;
    border-left: 1px solid #131313;
}

.main-menu.menu-light .navigation>li.active>a {
    background: #3b3b3b;
}

.main-menu.menu-light .navigation>li>a {
    background: #131313;
}

.main-menu.menu-light .navigation>li>ul {
    color: #cdcdcd;
    background: #131313;
}

.main-menu.menu-light .navigation>li.open>a {
    color: #cdcdcd;
    background: #00000057;
}

.main-menu.menu-light .navigation>li .active>a {
    color: #cdcdcd;
    font-weight: 700;
    background: #00000057;
}

.main-menu.menu-light .navigation li a {
    color: #cdcdcd;
}

.main-menu.menu-bordered.menu-light .navigation>li {
    border-top: 1px solid #00000050;
}

label {
    color: #cdcdcd !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.breadcrumb-item.active,
html body .content .content-wrapper .content-header-title,
.main-menu.menu-light .navigation>li ul .active>a,
.main-menu.menu-light .navigation>li ul .open>a {
    color: #cdcdcd;
}

.main-menu.menu-light .navigation>li.hover>a,
.main-menu.menu-light .navigation>li:hover>a,
.main-menu.menu-light .navigation>li.active>a,
.main-menu.menu-light .navigation>li ul .hover>a,
.main-menu.menu-light .navigation>li ul:hover>a {
    color: #fff;
}

td,
th {
    border-color: #2d2d3f !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #E3EBF3;
    border-top: 1px solid #E3EBF3;
}

thead,
tbody,
tfoot {
    color: #a7a7a7;
}

.color-primary {
    color: #a7a7a7;
}

footer.navbar-border {
    border-top: 1px solid #131313;
}

footer.footer-light {
    background: #131313;
}

footer.navbar-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grey;*/
    background-color: #6e6e6e;
    border-radius: 1px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #181821d1;
    border-radius: 1px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #0a0d14;
}

.modal-content {
    background-color: #131313;
}

.modal-header,
.modal-footer {
    border-color: #131313;
}

.modal,
.swal-overlay {
    -webkit-backdrop-filter: saturate(180%) blur(4px);
    backdrop-filter: saturate(180%) blur(4px);
}

.minicolors .minicolors-grid {
    right: 22px;
}