th, h1, h2, h3, h4, h5, h6, th, a, span, button, label, .swal-modal, .font-Dinar{
/*body {*/
    font-family: 'ArabicDinar' !important;
}

.font-default, span.danger, .font-default td, .pagination .page-item .page-link{
    font-family: 'Quicksand' !important;
}



.custom-logo {
    height: 46px;
    padding-bottom: 8px;
    padding-right: 15px !important;
}

@media (min-width: 992px){
    body.vertical-layout.vertical-menu-modern .toggle-icon {
        /*margin-left: 1rem;*/
        margin:0;
        padding-right: 0.5rem;
        position: absolute;
        z-index: 1;
    }
    .navbar-dark .navbar-nav li {
        line-height: 1;
        margin-right: 30px;
    }
}

span.error-message strong {
    font-weight: 100;
}

button.close{
    left: 0;
    right: auto;
}


.icon-notify-img {
    left: auto;
    right: -5px;
}

