.bg-gradient-x-white .card-header, .bg-gradient-x-white .card-footer, .bg-gradient-y-white .card-header, .bg-gradient-y-white .card-footer, .bg-gradient-directional-white .card-header, .bg-gradient-directional-white .card-footer, .bg-gradient-radial-white .card-header, .bg-gradient-radial-white .card-footer, .bg-gradient-striped-white .card-header, .bg-gradient-striped-white .card-footer, .bg-gradient-x2-white .card-header, .bg-gradient-x2-white .card-footer, .bg-gradient-y2-white .card-header, .bg-gradient-y2-white .card-footer {
  background-color : transparent;
}

.bg-gradient-x-black .card-header, .bg-gradient-x-black .card-footer, .bg-gradient-y-black .card-header, .bg-gradient-y-black .card-footer, .bg-gradient-directional-black .card-header, .bg-gradient-directional-black .card-footer, .bg-gradient-radial-black .card-header, .bg-gradient-radial-black .card-footer, .bg-gradient-striped-black .card-header, .bg-gradient-striped-black .card-footer, .bg-gradient-x2-black .card-header, .bg-gradient-x2-black .card-footer, .bg-gradient-y2-black .card-header, .bg-gradient-y2-black .card-footer {
  background-color : transparent;
}

.bg-gradient-x-primary {
  background-image : -webkit-gradient(linear, right top, left top, from(#512E90), to(#8259CB));
  background-image : -webkit-linear-gradient(right, #512E90 0%, #8259CB 100%);
  background-image :    -moz-linear-gradient(right, #512E90 0%, #8259CB 100%);
  background-image :      -o-linear-gradient(right, #512E90 0%, #8259CB 100%);
  background-image :         linear-gradient(to left, #512E90 0%, #8259CB 100%);
  background-repeat : repeat-x;
}

.bg-gradient-y-primary {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#512E90), to(#8259CB));
  background-image : -webkit-linear-gradient(top, #512E90 0%, #8259CB 100%);
  background-image :    -moz-linear-gradient(top, #512E90 0%, #8259CB 100%);
  background-image :      -o-linear-gradient(top, #512E90 0%, #8259CB 100%);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#512E90), to(#8259CB));
  background-image :         linear-gradient(to bottom, #512E90 0%, #8259CB 100%);
  background-repeat : repeat-x;
}

.bg-gradient-directional-primary {
  background-image : -webkit-linear-gradient(-45deg, #512E90, #8259CB);
  background-image :    -moz-linear-gradient(-45deg, #512E90, #8259CB);
  background-image :      -o-linear-gradient(-45deg, #512E90, #8259CB);
  background-image : -webkit-linear-gradient(135deg, #512E90, #8259CB);
  background-image :    -moz-linear-gradient(135deg, #512E90, #8259CB);
  background-image :      -o-linear-gradient(135deg, #512E90, #8259CB);
  background-image :         linear-gradient(-45deg, #512E90, #8259CB);
  background-repeat : repeat-x;
}

.bg-gradient-x2-primary {
  background-image : -webkit-gradient(linear, right top, left top, from(#8259CB), color-stop(50%, #673AB7), to(#916DD1));
  background-image : -webkit-linear-gradient(right, #8259CB, #673AB7 50%, #916DD1);
  background-image :    -moz-linear-gradient(right, #8259CB, #673AB7 50%, #916DD1);
  background-image :      -o-linear-gradient(right, #8259CB, #673AB7 50%, #916DD1);
  background-image :         linear-gradient(to left, #8259CB, #673AB7 50%, #916DD1);
  background-repeat : no-repeat;
}

.bg-gradient-y2-primary {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#8259CB), color-stop(50%, #673AB7), to(#916DD1));
  background-image : -webkit-linear-gradient(#8259CB, #673AB7 50%, #916DD1);
  background-image :    -moz-linear-gradient(#8259CB, #673AB7 50%, #916DD1);
  background-image :      -o-linear-gradient(#8259CB, #673AB7 50%, #916DD1);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#8259CB), color-stop(50%, #673AB7), to(#916DD1));
  background-image :         linear-gradient(#8259CB, #673AB7 50%, #916DD1);
  background-repeat : no-repeat;
}

.bg-gradient-radial-primary {
  background-image : -webkit-radial-gradient(circle, #512E90, #8259CB);
  background-image :    -moz-radial-gradient(circle, #512E90, #8259CB);
  background-image :      -o-radial-gradient(circle, #512E90, #8259CB);
  background-image :         radial-gradient(circle, #512E90, #8259CB);
  background-repeat : no-repeat;
}

.bg-gradient-striped-primary {
  background-image : -webkit-linear-gradient(-45deg, #916DD1 25%, transparent 25%, transparent 50%, #916DD1 50%, #916DD1 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(-45deg, #916DD1 25%, transparent 25%, transparent 50%, #916DD1 50%, #916DD1 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(-45deg, #916DD1 25%, transparent 25%, transparent 50%, #916DD1 50%, #916DD1 75%, transparent 75%, transparent);
  background-image : -webkit-linear-gradient(135deg, #916DD1 25%, transparent 25%, transparent 50%, #916DD1 50%, #916DD1 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(135deg, #916DD1 25%, transparent 25%, transparent 50%, #916DD1 50%, #916DD1 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(135deg, #916DD1 25%, transparent 25%, transparent 50%, #916DD1 50%, #916DD1 75%, transparent 75%, transparent);
  background-image :         linear-gradient(-45deg, #916DD1 25%, transparent 25%, transparent 50%, #916DD1 50%, #916DD1 75%, transparent 75%, transparent);
}

.bg-gradient-x-primary .card-header, .bg-gradient-x-primary .card-footer, .bg-gradient-y-primary .card-header, .bg-gradient-y-primary .card-footer, .bg-gradient-directional-primary .card-header, .bg-gradient-directional-primary .card-footer, .bg-gradient-radial-primary .card-header, .bg-gradient-radial-primary .card-footer, .bg-gradient-striped-primary .card-header, .bg-gradient-striped-primary .card-footer, .bg-gradient-x2-primary .card-header, .bg-gradient-x2-primary .card-footer, .bg-gradient-y2-primary .card-header, .bg-gradient-y2-primary .card-footer {
  background-color : transparent;
}

.bg-gradient-x-secondary {
  background-image : -webkit-gradient(linear, right top, left top, from(#4B626D), to(#7B96A3));
  background-image : -webkit-linear-gradient(right, #4B626D 0%, #7B96A3 100%);
  background-image :    -moz-linear-gradient(right, #4B626D 0%, #7B96A3 100%);
  background-image :      -o-linear-gradient(right, #4B626D 0%, #7B96A3 100%);
  background-image :         linear-gradient(to left, #4B626D 0%, #7B96A3 100%);
  background-repeat : repeat-x;
}

.bg-gradient-y-secondary {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#4B626D), to(#7B96A3));
  background-image : -webkit-linear-gradient(top, #4B626D 0%, #7B96A3 100%);
  background-image :    -moz-linear-gradient(top, #4B626D 0%, #7B96A3 100%);
  background-image :      -o-linear-gradient(top, #4B626D 0%, #7B96A3 100%);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#4B626D), to(#7B96A3));
  background-image :         linear-gradient(to bottom, #4B626D 0%, #7B96A3 100%);
  background-repeat : repeat-x;
}

.bg-gradient-directional-secondary {
  background-image : -webkit-linear-gradient(-45deg, #4B626D, #7B96A3);
  background-image :    -moz-linear-gradient(-45deg, #4B626D, #7B96A3);
  background-image :      -o-linear-gradient(-45deg, #4B626D, #7B96A3);
  background-image : -webkit-linear-gradient(135deg, #4B626D, #7B96A3);
  background-image :    -moz-linear-gradient(135deg, #4B626D, #7B96A3);
  background-image :      -o-linear-gradient(135deg, #4B626D, #7B96A3);
  background-image :         linear-gradient(-45deg, #4B626D, #7B96A3);
  background-repeat : repeat-x;
}

.bg-gradient-x2-secondary {
  background-image : -webkit-gradient(linear, right top, left top, from(#7B96A3), color-stop(50%, #607D8B), to(#8AA2AE));
  background-image : -webkit-linear-gradient(right, #7B96A3, #607D8B 50%, #8AA2AE);
  background-image :    -moz-linear-gradient(right, #7B96A3, #607D8B 50%, #8AA2AE);
  background-image :      -o-linear-gradient(right, #7B96A3, #607D8B 50%, #8AA2AE);
  background-image :         linear-gradient(to left, #7B96A3, #607D8B 50%, #8AA2AE);
  background-repeat : no-repeat;
}

.bg-gradient-y2-secondary {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#7B96A3), color-stop(50%, #607D8B), to(#8AA2AE));
  background-image : -webkit-linear-gradient(#7B96A3, #607D8B 50%, #8AA2AE);
  background-image :    -moz-linear-gradient(#7B96A3, #607D8B 50%, #8AA2AE);
  background-image :      -o-linear-gradient(#7B96A3, #607D8B 50%, #8AA2AE);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#7B96A3), color-stop(50%, #607D8B), to(#8AA2AE));
  background-image :         linear-gradient(#7B96A3, #607D8B 50%, #8AA2AE);
  background-repeat : no-repeat;
}

.bg-gradient-radial-secondary {
  background-image : -webkit-radial-gradient(circle, #4B626D, #7B96A3);
  background-image :    -moz-radial-gradient(circle, #4B626D, #7B96A3);
  background-image :      -o-radial-gradient(circle, #4B626D, #7B96A3);
  background-image :         radial-gradient(circle, #4B626D, #7B96A3);
  background-repeat : no-repeat;
}

.bg-gradient-striped-secondary {
  background-image : -webkit-linear-gradient(-45deg, #8AA2AE 25%, transparent 25%, transparent 50%, #8AA2AE 50%, #8AA2AE 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(-45deg, #8AA2AE 25%, transparent 25%, transparent 50%, #8AA2AE 50%, #8AA2AE 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(-45deg, #8AA2AE 25%, transparent 25%, transparent 50%, #8AA2AE 50%, #8AA2AE 75%, transparent 75%, transparent);
  background-image : -webkit-linear-gradient(135deg, #8AA2AE 25%, transparent 25%, transparent 50%, #8AA2AE 50%, #8AA2AE 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(135deg, #8AA2AE 25%, transparent 25%, transparent 50%, #8AA2AE 50%, #8AA2AE 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(135deg, #8AA2AE 25%, transparent 25%, transparent 50%, #8AA2AE 50%, #8AA2AE 75%, transparent 75%, transparent);
  background-image :         linear-gradient(-45deg, #8AA2AE 25%, transparent 25%, transparent 50%, #8AA2AE 50%, #8AA2AE 75%, transparent 75%, transparent);
}

.bg-gradient-x-secondary .card-header, .bg-gradient-x-secondary .card-footer, .bg-gradient-y-secondary .card-header, .bg-gradient-y-secondary .card-footer, .bg-gradient-directional-secondary .card-header, .bg-gradient-directional-secondary .card-footer, .bg-gradient-radial-secondary .card-header, .bg-gradient-radial-secondary .card-footer, .bg-gradient-striped-secondary .card-header, .bg-gradient-striped-secondary .card-footer, .bg-gradient-x2-secondary .card-header, .bg-gradient-x2-secondary .card-footer, .bg-gradient-y2-secondary .card-header, .bg-gradient-y2-secondary .card-footer {
  background-color : transparent;
}

.bg-gradient-x-success {
  background-image : -webkit-gradient(linear, right top, left top, from(#71A436), to(#A4D070));
  background-image : -webkit-linear-gradient(right, #71A436 0%, #A4D070 100%);
  background-image :    -moz-linear-gradient(right, #71A436 0%, #A4D070 100%);
  background-image :      -o-linear-gradient(right, #71A436 0%, #A4D070 100%);
  background-image :         linear-gradient(to left, #71A436 0%, #A4D070 100%);
  background-repeat : repeat-x;
}

.bg-gradient-y-success {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#71A436), to(#A4D070));
  background-image : -webkit-linear-gradient(top, #71A436 0%, #A4D070 100%);
  background-image :    -moz-linear-gradient(top, #71A436 0%, #A4D070 100%);
  background-image :      -o-linear-gradient(top, #71A436 0%, #A4D070 100%);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#71A436), to(#A4D070));
  background-image :         linear-gradient(to bottom, #71A436 0%, #A4D070 100%);
  background-repeat : repeat-x;
}

.bg-gradient-directional-success {
  background-image : -webkit-linear-gradient(-45deg, #71A436, #A4D070);
  background-image :    -moz-linear-gradient(-45deg, #71A436, #A4D070);
  background-image :      -o-linear-gradient(-45deg, #71A436, #A4D070);
  background-image : -webkit-linear-gradient(135deg, #71A436, #A4D070);
  background-image :    -moz-linear-gradient(135deg, #71A436, #A4D070);
  background-image :      -o-linear-gradient(135deg, #71A436, #A4D070);
  background-image :         linear-gradient(-45deg, #71A436, #A4D070);
  background-repeat : repeat-x;
}

.bg-gradient-x2-success {
  background-image : -webkit-gradient(linear, right top, left top, from(#A4D070), color-stop(50%, #8BC34A), to(#B0D683));
  background-image : -webkit-linear-gradient(right, #A4D070, #8BC34A 50%, #B0D683);
  background-image :    -moz-linear-gradient(right, #A4D070, #8BC34A 50%, #B0D683);
  background-image :      -o-linear-gradient(right, #A4D070, #8BC34A 50%, #B0D683);
  background-image :         linear-gradient(to left, #A4D070, #8BC34A 50%, #B0D683);
  background-repeat : no-repeat;
}

.bg-gradient-y2-success {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#A4D070), color-stop(50%, #8BC34A), to(#B0D683));
  background-image : -webkit-linear-gradient(#A4D070, #8BC34A 50%, #B0D683);
  background-image :    -moz-linear-gradient(#A4D070, #8BC34A 50%, #B0D683);
  background-image :      -o-linear-gradient(#A4D070, #8BC34A 50%, #B0D683);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#A4D070), color-stop(50%, #8BC34A), to(#B0D683));
  background-image :         linear-gradient(#A4D070, #8BC34A 50%, #B0D683);
  background-repeat : no-repeat;
}

.bg-gradient-radial-success {
  background-image : -webkit-radial-gradient(circle, #71A436, #A4D070);
  background-image :    -moz-radial-gradient(circle, #71A436, #A4D070);
  background-image :      -o-radial-gradient(circle, #71A436, #A4D070);
  background-image :         radial-gradient(circle, #71A436, #A4D070);
  background-repeat : no-repeat;
}

.bg-gradient-striped-success {
  background-image : -webkit-linear-gradient(-45deg, #B0D683 25%, transparent 25%, transparent 50%, #B0D683 50%, #B0D683 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(-45deg, #B0D683 25%, transparent 25%, transparent 50%, #B0D683 50%, #B0D683 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(-45deg, #B0D683 25%, transparent 25%, transparent 50%, #B0D683 50%, #B0D683 75%, transparent 75%, transparent);
  background-image : -webkit-linear-gradient(135deg, #B0D683 25%, transparent 25%, transparent 50%, #B0D683 50%, #B0D683 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(135deg, #B0D683 25%, transparent 25%, transparent 50%, #B0D683 50%, #B0D683 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(135deg, #B0D683 25%, transparent 25%, transparent 50%, #B0D683 50%, #B0D683 75%, transparent 75%, transparent);
  background-image :         linear-gradient(-45deg, #B0D683 25%, transparent 25%, transparent 50%, #B0D683 50%, #B0D683 75%, transparent 75%, transparent);
}

.bg-gradient-x-success .card-header, .bg-gradient-x-success .card-footer, .bg-gradient-y-success .card-header, .bg-gradient-y-success .card-footer, .bg-gradient-directional-success .card-header, .bg-gradient-directional-success .card-footer, .bg-gradient-radial-success .card-header, .bg-gradient-radial-success .card-footer, .bg-gradient-striped-success .card-header, .bg-gradient-striped-success .card-footer, .bg-gradient-x2-success .card-header, .bg-gradient-x2-success .card-footer, .bg-gradient-y2-success .card-header, .bg-gradient-y2-success .card-footer {
  background-color : transparent;
}

.bg-gradient-x-info {
  background-image : -webkit-gradient(linear, right top, left top, from(#008FA1), to(#08E3FF));
  background-image : -webkit-linear-gradient(right, #008FA1 0%, #08E3FF 100%);
  background-image :    -moz-linear-gradient(right, #008FA1 0%, #08E3FF 100%);
  background-image :      -o-linear-gradient(right, #008FA1 0%, #08E3FF 100%);
  background-image :         linear-gradient(to left, #008FA1 0%, #08E3FF 100%);
  background-repeat : repeat-x;
}

.bg-gradient-y-info {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#008FA1), to(#08E3FF));
  background-image : -webkit-linear-gradient(top, #008FA1 0%, #08E3FF 100%);
  background-image :    -moz-linear-gradient(top, #008FA1 0%, #08E3FF 100%);
  background-image :      -o-linear-gradient(top, #008FA1 0%, #08E3FF 100%);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#008FA1), to(#08E3FF));
  background-image :         linear-gradient(to bottom, #008FA1 0%, #08E3FF 100%);
  background-repeat : repeat-x;
}

.bg-gradient-directional-info {
  background-image : -webkit-linear-gradient(-45deg, #008FA1, #08E3FF);
  background-image :    -moz-linear-gradient(-45deg, #008FA1, #08E3FF);
  background-image :      -o-linear-gradient(-45deg, #008FA1, #08E3FF);
  background-image : -webkit-linear-gradient(135deg, #008FA1, #08E3FF);
  background-image :    -moz-linear-gradient(135deg, #008FA1, #08E3FF);
  background-image :      -o-linear-gradient(135deg, #008FA1, #08E3FF);
  background-image :         linear-gradient(-45deg, #008FA1, #08E3FF);
  background-repeat : repeat-x;
}

.bg-gradient-x2-info {
  background-image : -webkit-gradient(linear, right top, left top, from(#08E3FF), color-stop(50%, #00BCD4), to(#22E6FF));
  background-image : -webkit-linear-gradient(right, #08E3FF, #00BCD4 50%, #22E6FF);
  background-image :    -moz-linear-gradient(right, #08E3FF, #00BCD4 50%, #22E6FF);
  background-image :      -o-linear-gradient(right, #08E3FF, #00BCD4 50%, #22E6FF);
  background-image :         linear-gradient(to left, #08E3FF, #00BCD4 50%, #22E6FF);
  background-repeat : no-repeat;
}

.bg-gradient-y2-info {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#08E3FF), color-stop(50%, #00BCD4), to(#22E6FF));
  background-image : -webkit-linear-gradient(#08E3FF, #00BCD4 50%, #22E6FF);
  background-image :    -moz-linear-gradient(#08E3FF, #00BCD4 50%, #22E6FF);
  background-image :      -o-linear-gradient(#08E3FF, #00BCD4 50%, #22E6FF);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#08E3FF), color-stop(50%, #00BCD4), to(#22E6FF));
  background-image :         linear-gradient(#08E3FF, #00BCD4 50%, #22E6FF);
  background-repeat : no-repeat;
}

.bg-gradient-radial-info {
  background-image : -webkit-radial-gradient(circle, #008FA1, #08E3FF);
  background-image :    -moz-radial-gradient(circle, #008FA1, #08E3FF);
  background-image :      -o-radial-gradient(circle, #008FA1, #08E3FF);
  background-image :         radial-gradient(circle, #008FA1, #08E3FF);
  background-repeat : no-repeat;
}

.bg-gradient-striped-info {
  background-image : -webkit-linear-gradient(-45deg, #22E6FF 25%, transparent 25%, transparent 50%, #22E6FF 50%, #22E6FF 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(-45deg, #22E6FF 25%, transparent 25%, transparent 50%, #22E6FF 50%, #22E6FF 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(-45deg, #22E6FF 25%, transparent 25%, transparent 50%, #22E6FF 50%, #22E6FF 75%, transparent 75%, transparent);
  background-image : -webkit-linear-gradient(135deg, #22E6FF 25%, transparent 25%, transparent 50%, #22E6FF 50%, #22E6FF 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(135deg, #22E6FF 25%, transparent 25%, transparent 50%, #22E6FF 50%, #22E6FF 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(135deg, #22E6FF 25%, transparent 25%, transparent 50%, #22E6FF 50%, #22E6FF 75%, transparent 75%, transparent);
  background-image :         linear-gradient(-45deg, #22E6FF 25%, transparent 25%, transparent 50%, #22E6FF 50%, #22E6FF 75%, transparent 75%, transparent);
}

.bg-gradient-x-info .card-header, .bg-gradient-x-info .card-footer, .bg-gradient-y-info .card-header, .bg-gradient-y-info .card-footer, .bg-gradient-directional-info .card-header, .bg-gradient-directional-info .card-footer, .bg-gradient-radial-info .card-header, .bg-gradient-radial-info .card-footer, .bg-gradient-striped-info .card-header, .bg-gradient-striped-info .card-footer, .bg-gradient-x2-info .card-header, .bg-gradient-x2-info .card-footer, .bg-gradient-y2-info .card-header, .bg-gradient-y2-info .card-footer {
  background-color : transparent;
}

.bg-gradient-x-warning {
  background-image : -webkit-gradient(linear, right top, left top, from(#D39E00), to(#FFCE3A));
  background-image : -webkit-linear-gradient(right, #D39E00 0%, #FFCE3A 100%);
  background-image :    -moz-linear-gradient(right, #D39E00 0%, #FFCE3A 100%);
  background-image :      -o-linear-gradient(right, #D39E00 0%, #FFCE3A 100%);
  background-image :         linear-gradient(to left, #D39E00 0%, #FFCE3A 100%);
  background-repeat : repeat-x;
}

.bg-gradient-y-warning {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#D39E00), to(#FFCE3A));
  background-image : -webkit-linear-gradient(top, #D39E00 0%, #FFCE3A 100%);
  background-image :    -moz-linear-gradient(top, #D39E00 0%, #FFCE3A 100%);
  background-image :      -o-linear-gradient(top, #D39E00 0%, #FFCE3A 100%);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#D39E00), to(#FFCE3A));
  background-image :         linear-gradient(to bottom, #D39E00 0%, #FFCE3A 100%);
  background-repeat : repeat-x;
}

.bg-gradient-directional-warning {
  background-image : -webkit-linear-gradient(-45deg, #D39E00, #FFCE3A);
  background-image :    -moz-linear-gradient(-45deg, #D39E00, #FFCE3A);
  background-image :      -o-linear-gradient(-45deg, #D39E00, #FFCE3A);
  background-image : -webkit-linear-gradient(135deg, #D39E00, #FFCE3A);
  background-image :    -moz-linear-gradient(135deg, #D39E00, #FFCE3A);
  background-image :      -o-linear-gradient(135deg, #D39E00, #FFCE3A);
  background-image :         linear-gradient(-45deg, #D39E00, #FFCE3A);
  background-repeat : repeat-x;
}

.bg-gradient-x2-warning {
  background-image : -webkit-gradient(linear, right top, left top, from(#FFCE3A), color-stop(50%, #FFC107), to(#FFD454));
  background-image : -webkit-linear-gradient(right, #FFCE3A, #FFC107 50%, #FFD454);
  background-image :    -moz-linear-gradient(right, #FFCE3A, #FFC107 50%, #FFD454);
  background-image :      -o-linear-gradient(right, #FFCE3A, #FFC107 50%, #FFD454);
  background-image :         linear-gradient(to left, #FFCE3A, #FFC107 50%, #FFD454);
  background-repeat : no-repeat;
}

.bg-gradient-y2-warning {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#FFCE3A), color-stop(50%, #FFC107), to(#FFD454));
  background-image : -webkit-linear-gradient(#FFCE3A, #FFC107 50%, #FFD454);
  background-image :    -moz-linear-gradient(#FFCE3A, #FFC107 50%, #FFD454);
  background-image :      -o-linear-gradient(#FFCE3A, #FFC107 50%, #FFD454);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#FFCE3A), color-stop(50%, #FFC107), to(#FFD454));
  background-image :         linear-gradient(#FFCE3A, #FFC107 50%, #FFD454);
  background-repeat : no-repeat;
}

.bg-gradient-radial-warning {
  background-image : -webkit-radial-gradient(circle, #D39E00, #FFCE3A);
  background-image :    -moz-radial-gradient(circle, #D39E00, #FFCE3A);
  background-image :      -o-radial-gradient(circle, #D39E00, #FFCE3A);
  background-image :         radial-gradient(circle, #D39E00, #FFCE3A);
  background-repeat : no-repeat;
}

.bg-gradient-striped-warning {
  background-image : -webkit-linear-gradient(-45deg, #FFD454 25%, transparent 25%, transparent 50%, #FFD454 50%, #FFD454 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(-45deg, #FFD454 25%, transparent 25%, transparent 50%, #FFD454 50%, #FFD454 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(-45deg, #FFD454 25%, transparent 25%, transparent 50%, #FFD454 50%, #FFD454 75%, transparent 75%, transparent);
  background-image : -webkit-linear-gradient(135deg, #FFD454 25%, transparent 25%, transparent 50%, #FFD454 50%, #FFD454 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(135deg, #FFD454 25%, transparent 25%, transparent 50%, #FFD454 50%, #FFD454 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(135deg, #FFD454 25%, transparent 25%, transparent 50%, #FFD454 50%, #FFD454 75%, transparent 75%, transparent);
  background-image :         linear-gradient(-45deg, #FFD454 25%, transparent 25%, transparent 50%, #FFD454 50%, #FFD454 75%, transparent 75%, transparent);
}

.bg-gradient-x-warning .card-header, .bg-gradient-x-warning .card-footer, .bg-gradient-y-warning .card-header, .bg-gradient-y-warning .card-footer, .bg-gradient-directional-warning .card-header, .bg-gradient-directional-warning .card-footer, .bg-gradient-radial-warning .card-header, .bg-gradient-radial-warning .card-footer, .bg-gradient-striped-warning .card-header, .bg-gradient-striped-warning .card-footer, .bg-gradient-x2-warning .card-header, .bg-gradient-x2-warning .card-footer, .bg-gradient-y2-warning .card-header, .bg-gradient-y2-warning .card-footer {
  background-color : transparent;
}

.bg-gradient-x-danger {
  background-image : -webkit-gradient(linear, right top, left top, from(#EA1C0D), to(#F77066));
  background-image : -webkit-linear-gradient(right, #EA1C0D 0%, #F77066 100%);
  background-image :    -moz-linear-gradient(right, #EA1C0D 0%, #F77066 100%);
  background-image :      -o-linear-gradient(right, #EA1C0D 0%, #F77066 100%);
  background-image :         linear-gradient(to left, #EA1C0D 0%, #F77066 100%);
  background-repeat : repeat-x;
}

.bg-gradient-y-danger {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#EA1C0D), to(#F77066));
  background-image : -webkit-linear-gradient(top, #EA1C0D 0%, #F77066 100%);
  background-image :    -moz-linear-gradient(top, #EA1C0D 0%, #F77066 100%);
  background-image :      -o-linear-gradient(top, #EA1C0D 0%, #F77066 100%);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#EA1C0D), to(#F77066));
  background-image :         linear-gradient(to bottom, #EA1C0D 0%, #F77066 100%);
  background-repeat : repeat-x;
}

.bg-gradient-directional-danger {
  background-image : -webkit-linear-gradient(-45deg, #EA1C0D, #F77066);
  background-image :    -moz-linear-gradient(-45deg, #EA1C0D, #F77066);
  background-image :      -o-linear-gradient(-45deg, #EA1C0D, #F77066);
  background-image : -webkit-linear-gradient(135deg, #EA1C0D, #F77066);
  background-image :    -moz-linear-gradient(135deg, #EA1C0D, #F77066);
  background-image :      -o-linear-gradient(135deg, #EA1C0D, #F77066);
  background-image :         linear-gradient(-45deg, #EA1C0D, #F77066);
  background-repeat : repeat-x;
}

.bg-gradient-x2-danger {
  background-image : -webkit-gradient(linear, right top, left top, from(#F77066), color-stop(50%, #F44336), to(#F8877F));
  background-image : -webkit-linear-gradient(right, #F77066, #F44336 50%, #F8877F);
  background-image :    -moz-linear-gradient(right, #F77066, #F44336 50%, #F8877F);
  background-image :      -o-linear-gradient(right, #F77066, #F44336 50%, #F8877F);
  background-image :         linear-gradient(to left, #F77066, #F44336 50%, #F8877F);
  background-repeat : no-repeat;
}

.bg-gradient-y2-danger {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#F77066), color-stop(50%, #F44336), to(#F8877F));
  background-image : -webkit-linear-gradient(#F77066, #F44336 50%, #F8877F);
  background-image :    -moz-linear-gradient(#F77066, #F44336 50%, #F8877F);
  background-image :      -o-linear-gradient(#F77066, #F44336 50%, #F8877F);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#F77066), color-stop(50%, #F44336), to(#F8877F));
  background-image :         linear-gradient(#F77066, #F44336 50%, #F8877F);
  background-repeat : no-repeat;
}

.bg-gradient-radial-danger {
  background-image : -webkit-radial-gradient(circle, #EA1C0D, #F77066);
  background-image :    -moz-radial-gradient(circle, #EA1C0D, #F77066);
  background-image :      -o-radial-gradient(circle, #EA1C0D, #F77066);
  background-image :         radial-gradient(circle, #EA1C0D, #F77066);
  background-repeat : no-repeat;
}

.bg-gradient-striped-danger {
  background-image : -webkit-linear-gradient(-45deg, #F8877F 25%, transparent 25%, transparent 50%, #F8877F 50%, #F8877F 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(-45deg, #F8877F 25%, transparent 25%, transparent 50%, #F8877F 50%, #F8877F 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(-45deg, #F8877F 25%, transparent 25%, transparent 50%, #F8877F 50%, #F8877F 75%, transparent 75%, transparent);
  background-image : -webkit-linear-gradient(135deg, #F8877F 25%, transparent 25%, transparent 50%, #F8877F 50%, #F8877F 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(135deg, #F8877F 25%, transparent 25%, transparent 50%, #F8877F 50%, #F8877F 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(135deg, #F8877F 25%, transparent 25%, transparent 50%, #F8877F 50%, #F8877F 75%, transparent 75%, transparent);
  background-image :         linear-gradient(-45deg, #F8877F 25%, transparent 25%, transparent 50%, #F8877F 50%, #F8877F 75%, transparent 75%, transparent);
}

.bg-gradient-x-danger .card-header, .bg-gradient-x-danger .card-footer, .bg-gradient-y-danger .card-header, .bg-gradient-y-danger .card-footer, .bg-gradient-directional-danger .card-header, .bg-gradient-directional-danger .card-footer, .bg-gradient-radial-danger .card-header, .bg-gradient-radial-danger .card-footer, .bg-gradient-striped-danger .card-header, .bg-gradient-striped-danger .card-footer, .bg-gradient-x2-danger .card-header, .bg-gradient-x2-danger .card-footer, .bg-gradient-y2-danger .card-header, .bg-gradient-y2-danger .card-footer {
  background-color : transparent;
}

.bg-gradient-x-light .card-header, .bg-gradient-x-light .card-footer, .bg-gradient-y-light .card-header, .bg-gradient-y-light .card-footer, .bg-gradient-directional-light .card-header, .bg-gradient-directional-light .card-footer, .bg-gradient-radial-light .card-header, .bg-gradient-radial-light .card-footer, .bg-gradient-striped-light .card-header, .bg-gradient-striped-light .card-footer, .bg-gradient-x2-light .card-header, .bg-gradient-x2-light .card-footer, .bg-gradient-y2-light .card-header, .bg-gradient-y2-light .card-footer {
  background-color : transparent;
}

.bg-gradient-x-dark .card-header, .bg-gradient-x-dark .card-footer, .bg-gradient-y-dark .card-header, .bg-gradient-y-dark .card-footer, .bg-gradient-directional-dark .card-header, .bg-gradient-directional-dark .card-footer, .bg-gradient-radial-dark .card-header, .bg-gradient-radial-dark .card-footer, .bg-gradient-striped-dark .card-header, .bg-gradient-striped-dark .card-footer, .bg-gradient-x2-dark .card-header, .bg-gradient-x2-dark .card-footer, .bg-gradient-y2-dark .card-header, .bg-gradient-y2-dark .card-footer {
  background-color : transparent;
}

.bg-gradient-x-red {
  background-image : -webkit-gradient(linear, right top, left top, from(#D32F2F), to(#E57373));
  background-image : -webkit-linear-gradient(right, #D32F2F 0%, #E57373 100%);
  background-image :    -moz-linear-gradient(right, #D32F2F 0%, #E57373 100%);
  background-image :      -o-linear-gradient(right, #D32F2F 0%, #E57373 100%);
  background-image :         linear-gradient(to left, #D32F2F 0%, #E57373 100%);
  background-repeat : repeat-x;
}

.bg-gradient-y-red {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#D32F2F), to(#E57373));
  background-image : -webkit-linear-gradient(top, #D32F2F 0%, #E57373 100%);
  background-image :    -moz-linear-gradient(top, #D32F2F 0%, #E57373 100%);
  background-image :      -o-linear-gradient(top, #D32F2F 0%, #E57373 100%);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#D32F2F), to(#E57373));
  background-image :         linear-gradient(to bottom, #D32F2F 0%, #E57373 100%);
  background-repeat : repeat-x;
}

.bg-gradient-directional-red {
  background-image : -webkit-linear-gradient(-45deg, #D32F2F, #E57373);
  background-image :    -moz-linear-gradient(-45deg, #D32F2F, #E57373);
  background-image :      -o-linear-gradient(-45deg, #D32F2F, #E57373);
  background-image : -webkit-linear-gradient(135deg, #D32F2F, #E57373);
  background-image :    -moz-linear-gradient(135deg, #D32F2F, #E57373);
  background-image :      -o-linear-gradient(135deg, #D32F2F, #E57373);
  background-image :         linear-gradient(-45deg, #D32F2F, #E57373);
  background-repeat : repeat-x;
}

.bg-gradient-x2-red {
  background-image : -webkit-gradient(linear, right top, left top, from(#E57373), color-stop(50%, #F44336), to(#EF9A9A));
  background-image : -webkit-linear-gradient(right, #E57373, #F44336 50%, #EF9A9A);
  background-image :    -moz-linear-gradient(right, #E57373, #F44336 50%, #EF9A9A);
  background-image :      -o-linear-gradient(right, #E57373, #F44336 50%, #EF9A9A);
  background-image :         linear-gradient(to left, #E57373, #F44336 50%, #EF9A9A);
  background-repeat : no-repeat;
}

.bg-gradient-y2-red {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#E57373), color-stop(50%, #F44336), to(#EF9A9A));
  background-image : -webkit-linear-gradient(#E57373, #F44336 50%, #EF9A9A);
  background-image :    -moz-linear-gradient(#E57373, #F44336 50%, #EF9A9A);
  background-image :      -o-linear-gradient(#E57373, #F44336 50%, #EF9A9A);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#E57373), color-stop(50%, #F44336), to(#EF9A9A));
  background-image :         linear-gradient(#E57373, #F44336 50%, #EF9A9A);
  background-repeat : no-repeat;
}

.bg-gradient-radial-red {
  background-image : -webkit-radial-gradient(circle, #D32F2F, #E57373);
  background-image :    -moz-radial-gradient(circle, #D32F2F, #E57373);
  background-image :      -o-radial-gradient(circle, #D32F2F, #E57373);
  background-image :         radial-gradient(circle, #D32F2F, #E57373);
  background-repeat : no-repeat;
}

.bg-gradient-striped-red {
  background-image : -webkit-linear-gradient(-45deg, #EF9A9A 25%, transparent 25%, transparent 50%, #EF9A9A 50%, #EF9A9A 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(-45deg, #EF9A9A 25%, transparent 25%, transparent 50%, #EF9A9A 50%, #EF9A9A 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(-45deg, #EF9A9A 25%, transparent 25%, transparent 50%, #EF9A9A 50%, #EF9A9A 75%, transparent 75%, transparent);
  background-image : -webkit-linear-gradient(135deg, #EF9A9A 25%, transparent 25%, transparent 50%, #EF9A9A 50%, #EF9A9A 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(135deg, #EF9A9A 25%, transparent 25%, transparent 50%, #EF9A9A 50%, #EF9A9A 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(135deg, #EF9A9A 25%, transparent 25%, transparent 50%, #EF9A9A 50%, #EF9A9A 75%, transparent 75%, transparent);
  background-image :         linear-gradient(-45deg, #EF9A9A 25%, transparent 25%, transparent 50%, #EF9A9A 50%, #EF9A9A 75%, transparent 75%, transparent);
}

.bg-gradient-x-red .card-header, .bg-gradient-x-red .card-footer, .bg-gradient-y-red .card-header, .bg-gradient-y-red .card-footer, .bg-gradient-directional-red .card-header, .bg-gradient-directional-red .card-footer, .bg-gradient-radial-red .card-header, .bg-gradient-radial-red .card-footer, .bg-gradient-striped-red .card-header, .bg-gradient-striped-red .card-footer, .bg-gradient-x2-red .card-header, .bg-gradient-x2-red .card-footer, .bg-gradient-y2-red .card-header, .bg-gradient-y2-red .card-footer {
  background-color : transparent;
}

.bg-gradient-x-pink {
  background-image : -webkit-gradient(linear, right top, left top, from(#C2185B), to(#F06292));
  background-image : -webkit-linear-gradient(right, #C2185B 0%, #F06292 100%);
  background-image :    -moz-linear-gradient(right, #C2185B 0%, #F06292 100%);
  background-image :      -o-linear-gradient(right, #C2185B 0%, #F06292 100%);
  background-image :         linear-gradient(to left, #C2185B 0%, #F06292 100%);
  background-repeat : repeat-x;
}

.bg-gradient-y-pink {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#C2185B), to(#F06292));
  background-image : -webkit-linear-gradient(top, #C2185B 0%, #F06292 100%);
  background-image :    -moz-linear-gradient(top, #C2185B 0%, #F06292 100%);
  background-image :      -o-linear-gradient(top, #C2185B 0%, #F06292 100%);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#C2185B), to(#F06292));
  background-image :         linear-gradient(to bottom, #C2185B 0%, #F06292 100%);
  background-repeat : repeat-x;
}

.bg-gradient-directional-pink {
  background-image : -webkit-linear-gradient(-45deg, #C2185B, #F06292);
  background-image :    -moz-linear-gradient(-45deg, #C2185B, #F06292);
  background-image :      -o-linear-gradient(-45deg, #C2185B, #F06292);
  background-image : -webkit-linear-gradient(135deg, #C2185B, #F06292);
  background-image :    -moz-linear-gradient(135deg, #C2185B, #F06292);
  background-image :      -o-linear-gradient(135deg, #C2185B, #F06292);
  background-image :         linear-gradient(-45deg, #C2185B, #F06292);
  background-repeat : repeat-x;
}

.bg-gradient-x2-pink {
  background-image : -webkit-gradient(linear, right top, left top, from(#F06292), color-stop(50%, #E91E63), to(#F48FB1));
  background-image : -webkit-linear-gradient(right, #F06292, #E91E63 50%, #F48FB1);
  background-image :    -moz-linear-gradient(right, #F06292, #E91E63 50%, #F48FB1);
  background-image :      -o-linear-gradient(right, #F06292, #E91E63 50%, #F48FB1);
  background-image :         linear-gradient(to left, #F06292, #E91E63 50%, #F48FB1);
  background-repeat : no-repeat;
}

.bg-gradient-y2-pink {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#F06292), color-stop(50%, #E91E63), to(#F48FB1));
  background-image : -webkit-linear-gradient(#F06292, #E91E63 50%, #F48FB1);
  background-image :    -moz-linear-gradient(#F06292, #E91E63 50%, #F48FB1);
  background-image :      -o-linear-gradient(#F06292, #E91E63 50%, #F48FB1);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#F06292), color-stop(50%, #E91E63), to(#F48FB1));
  background-image :         linear-gradient(#F06292, #E91E63 50%, #F48FB1);
  background-repeat : no-repeat;
}

.bg-gradient-radial-pink {
  background-image : -webkit-radial-gradient(circle, #C2185B, #F06292);
  background-image :    -moz-radial-gradient(circle, #C2185B, #F06292);
  background-image :      -o-radial-gradient(circle, #C2185B, #F06292);
  background-image :         radial-gradient(circle, #C2185B, #F06292);
  background-repeat : no-repeat;
}

.bg-gradient-striped-pink {
  background-image : -webkit-linear-gradient(-45deg, #F48FB1 25%, transparent 25%, transparent 50%, #F48FB1 50%, #F48FB1 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(-45deg, #F48FB1 25%, transparent 25%, transparent 50%, #F48FB1 50%, #F48FB1 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(-45deg, #F48FB1 25%, transparent 25%, transparent 50%, #F48FB1 50%, #F48FB1 75%, transparent 75%, transparent);
  background-image : -webkit-linear-gradient(135deg, #F48FB1 25%, transparent 25%, transparent 50%, #F48FB1 50%, #F48FB1 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(135deg, #F48FB1 25%, transparent 25%, transparent 50%, #F48FB1 50%, #F48FB1 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(135deg, #F48FB1 25%, transparent 25%, transparent 50%, #F48FB1 50%, #F48FB1 75%, transparent 75%, transparent);
  background-image :         linear-gradient(-45deg, #F48FB1 25%, transparent 25%, transparent 50%, #F48FB1 50%, #F48FB1 75%, transparent 75%, transparent);
}

.bg-gradient-x-pink .card-header, .bg-gradient-x-pink .card-footer, .bg-gradient-y-pink .card-header, .bg-gradient-y-pink .card-footer, .bg-gradient-directional-pink .card-header, .bg-gradient-directional-pink .card-footer, .bg-gradient-radial-pink .card-header, .bg-gradient-radial-pink .card-footer, .bg-gradient-striped-pink .card-header, .bg-gradient-striped-pink .card-footer, .bg-gradient-x2-pink .card-header, .bg-gradient-x2-pink .card-footer, .bg-gradient-y2-pink .card-header, .bg-gradient-y2-pink .card-footer {
  background-color : transparent;
}

.bg-gradient-x-purple {
  background-image : -webkit-gradient(linear, right top, left top, from(#7B1FA2), to(#BA68C8));
  background-image : -webkit-linear-gradient(right, #7B1FA2 0%, #BA68C8 100%);
  background-image :    -moz-linear-gradient(right, #7B1FA2 0%, #BA68C8 100%);
  background-image :      -o-linear-gradient(right, #7B1FA2 0%, #BA68C8 100%);
  background-image :         linear-gradient(to left, #7B1FA2 0%, #BA68C8 100%);
  background-repeat : repeat-x;
}

.bg-gradient-y-purple {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#7B1FA2), to(#BA68C8));
  background-image : -webkit-linear-gradient(top, #7B1FA2 0%, #BA68C8 100%);
  background-image :    -moz-linear-gradient(top, #7B1FA2 0%, #BA68C8 100%);
  background-image :      -o-linear-gradient(top, #7B1FA2 0%, #BA68C8 100%);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#7B1FA2), to(#BA68C8));
  background-image :         linear-gradient(to bottom, #7B1FA2 0%, #BA68C8 100%);
  background-repeat : repeat-x;
}

.bg-gradient-directional-purple {
  background-image : -webkit-linear-gradient(-45deg, #7B1FA2, #BA68C8);
  background-image :    -moz-linear-gradient(-45deg, #7B1FA2, #BA68C8);
  background-image :      -o-linear-gradient(-45deg, #7B1FA2, #BA68C8);
  background-image : -webkit-linear-gradient(135deg, #7B1FA2, #BA68C8);
  background-image :    -moz-linear-gradient(135deg, #7B1FA2, #BA68C8);
  background-image :      -o-linear-gradient(135deg, #7B1FA2, #BA68C8);
  background-image :         linear-gradient(-45deg, #7B1FA2, #BA68C8);
  background-repeat : repeat-x;
}

.bg-gradient-x2-purple {
  background-image : -webkit-gradient(linear, right top, left top, from(#BA68C8), color-stop(50%, #9C27B0), to(#CE93D8));
  background-image : -webkit-linear-gradient(right, #BA68C8, #9C27B0 50%, #CE93D8);
  background-image :    -moz-linear-gradient(right, #BA68C8, #9C27B0 50%, #CE93D8);
  background-image :      -o-linear-gradient(right, #BA68C8, #9C27B0 50%, #CE93D8);
  background-image :         linear-gradient(to left, #BA68C8, #9C27B0 50%, #CE93D8);
  background-repeat : no-repeat;
}

.bg-gradient-y2-purple {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#BA68C8), color-stop(50%, #9C27B0), to(#CE93D8));
  background-image : -webkit-linear-gradient(#BA68C8, #9C27B0 50%, #CE93D8);
  background-image :    -moz-linear-gradient(#BA68C8, #9C27B0 50%, #CE93D8);
  background-image :      -o-linear-gradient(#BA68C8, #9C27B0 50%, #CE93D8);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#BA68C8), color-stop(50%, #9C27B0), to(#CE93D8));
  background-image :         linear-gradient(#BA68C8, #9C27B0 50%, #CE93D8);
  background-repeat : no-repeat;
}

.bg-gradient-radial-purple {
  background-image : -webkit-radial-gradient(circle, #7B1FA2, #BA68C8);
  background-image :    -moz-radial-gradient(circle, #7B1FA2, #BA68C8);
  background-image :      -o-radial-gradient(circle, #7B1FA2, #BA68C8);
  background-image :         radial-gradient(circle, #7B1FA2, #BA68C8);
  background-repeat : no-repeat;
}

.bg-gradient-striped-purple {
  background-image : -webkit-linear-gradient(-45deg, #CE93D8 25%, transparent 25%, transparent 50%, #CE93D8 50%, #CE93D8 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(-45deg, #CE93D8 25%, transparent 25%, transparent 50%, #CE93D8 50%, #CE93D8 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(-45deg, #CE93D8 25%, transparent 25%, transparent 50%, #CE93D8 50%, #CE93D8 75%, transparent 75%, transparent);
  background-image : -webkit-linear-gradient(135deg, #CE93D8 25%, transparent 25%, transparent 50%, #CE93D8 50%, #CE93D8 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(135deg, #CE93D8 25%, transparent 25%, transparent 50%, #CE93D8 50%, #CE93D8 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(135deg, #CE93D8 25%, transparent 25%, transparent 50%, #CE93D8 50%, #CE93D8 75%, transparent 75%, transparent);
  background-image :         linear-gradient(-45deg, #CE93D8 25%, transparent 25%, transparent 50%, #CE93D8 50%, #CE93D8 75%, transparent 75%, transparent);
}

.bg-gradient-x-purple .card-header, .bg-gradient-x-purple .card-footer, .bg-gradient-y-purple .card-header, .bg-gradient-y-purple .card-footer, .bg-gradient-directional-purple .card-header, .bg-gradient-directional-purple .card-footer, .bg-gradient-radial-purple .card-header, .bg-gradient-radial-purple .card-footer, .bg-gradient-striped-purple .card-header, .bg-gradient-striped-purple .card-footer, .bg-gradient-x2-purple .card-header, .bg-gradient-x2-purple .card-footer, .bg-gradient-y2-purple .card-header, .bg-gradient-y2-purple .card-footer {
  background-color : transparent;
}

.bg-gradient-x-blue {
  background-image : -webkit-gradient(linear, right top, left top, from(#1976D2), to(#64B5F6));
  background-image : -webkit-linear-gradient(right, #1976D2 0%, #64B5F6 100%);
  background-image :    -moz-linear-gradient(right, #1976D2 0%, #64B5F6 100%);
  background-image :      -o-linear-gradient(right, #1976D2 0%, #64B5F6 100%);
  background-image :         linear-gradient(to left, #1976D2 0%, #64B5F6 100%);
  background-repeat : repeat-x;
}

.bg-gradient-y-blue {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#1976D2), to(#64B5F6));
  background-image : -webkit-linear-gradient(top, #1976D2 0%, #64B5F6 100%);
  background-image :    -moz-linear-gradient(top, #1976D2 0%, #64B5F6 100%);
  background-image :      -o-linear-gradient(top, #1976D2 0%, #64B5F6 100%);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#1976D2), to(#64B5F6));
  background-image :         linear-gradient(to bottom, #1976D2 0%, #64B5F6 100%);
  background-repeat : repeat-x;
}

.bg-gradient-directional-blue {
  background-image : -webkit-linear-gradient(-45deg, #1976D2, #64B5F6);
  background-image :    -moz-linear-gradient(-45deg, #1976D2, #64B5F6);
  background-image :      -o-linear-gradient(-45deg, #1976D2, #64B5F6);
  background-image : -webkit-linear-gradient(135deg, #1976D2, #64B5F6);
  background-image :    -moz-linear-gradient(135deg, #1976D2, #64B5F6);
  background-image :      -o-linear-gradient(135deg, #1976D2, #64B5F6);
  background-image :         linear-gradient(-45deg, #1976D2, #64B5F6);
  background-repeat : repeat-x;
}

.bg-gradient-x2-blue {
  background-image : -webkit-gradient(linear, right top, left top, from(#64B5F6), color-stop(50%, #2196F3), to(#90CAF9));
  background-image : -webkit-linear-gradient(right, #64B5F6, #2196F3 50%, #90CAF9);
  background-image :    -moz-linear-gradient(right, #64B5F6, #2196F3 50%, #90CAF9);
  background-image :      -o-linear-gradient(right, #64B5F6, #2196F3 50%, #90CAF9);
  background-image :         linear-gradient(to left, #64B5F6, #2196F3 50%, #90CAF9);
  background-repeat : no-repeat;
}

.bg-gradient-y2-blue {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#64B5F6), color-stop(50%, #2196F3), to(#90CAF9));
  background-image : -webkit-linear-gradient(#64B5F6, #2196F3 50%, #90CAF9);
  background-image :    -moz-linear-gradient(#64B5F6, #2196F3 50%, #90CAF9);
  background-image :      -o-linear-gradient(#64B5F6, #2196F3 50%, #90CAF9);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#64B5F6), color-stop(50%, #2196F3), to(#90CAF9));
  background-image :         linear-gradient(#64B5F6, #2196F3 50%, #90CAF9);
  background-repeat : no-repeat;
}

.bg-gradient-radial-blue {
  background-image : -webkit-radial-gradient(circle, #1976D2, #64B5F6);
  background-image :    -moz-radial-gradient(circle, #1976D2, #64B5F6);
  background-image :      -o-radial-gradient(circle, #1976D2, #64B5F6);
  background-image :         radial-gradient(circle, #1976D2, #64B5F6);
  background-repeat : no-repeat;
}

.bg-gradient-striped-blue {
  background-image : -webkit-linear-gradient(-45deg, #90CAF9 25%, transparent 25%, transparent 50%, #90CAF9 50%, #90CAF9 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(-45deg, #90CAF9 25%, transparent 25%, transparent 50%, #90CAF9 50%, #90CAF9 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(-45deg, #90CAF9 25%, transparent 25%, transparent 50%, #90CAF9 50%, #90CAF9 75%, transparent 75%, transparent);
  background-image : -webkit-linear-gradient(135deg, #90CAF9 25%, transparent 25%, transparent 50%, #90CAF9 50%, #90CAF9 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(135deg, #90CAF9 25%, transparent 25%, transparent 50%, #90CAF9 50%, #90CAF9 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(135deg, #90CAF9 25%, transparent 25%, transparent 50%, #90CAF9 50%, #90CAF9 75%, transparent 75%, transparent);
  background-image :         linear-gradient(-45deg, #90CAF9 25%, transparent 25%, transparent 50%, #90CAF9 50%, #90CAF9 75%, transparent 75%, transparent);
}

.bg-gradient-x-blue .card-header, .bg-gradient-x-blue .card-footer, .bg-gradient-y-blue .card-header, .bg-gradient-y-blue .card-footer, .bg-gradient-directional-blue .card-header, .bg-gradient-directional-blue .card-footer, .bg-gradient-radial-blue .card-header, .bg-gradient-radial-blue .card-footer, .bg-gradient-striped-blue .card-header, .bg-gradient-striped-blue .card-footer, .bg-gradient-x2-blue .card-header, .bg-gradient-x2-blue .card-footer, .bg-gradient-y2-blue .card-header, .bg-gradient-y2-blue .card-footer {
  background-color : transparent;
}

.bg-gradient-x-cyan {
  background-image : -webkit-gradient(linear, right top, left top, from(#0097A7), to(#4DD0E1));
  background-image : -webkit-linear-gradient(right, #0097A7 0%, #4DD0E1 100%);
  background-image :    -moz-linear-gradient(right, #0097A7 0%, #4DD0E1 100%);
  background-image :      -o-linear-gradient(right, #0097A7 0%, #4DD0E1 100%);
  background-image :         linear-gradient(to left, #0097A7 0%, #4DD0E1 100%);
  background-repeat : repeat-x;
}

.bg-gradient-y-cyan {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#0097A7), to(#4DD0E1));
  background-image : -webkit-linear-gradient(top, #0097A7 0%, #4DD0E1 100%);
  background-image :    -moz-linear-gradient(top, #0097A7 0%, #4DD0E1 100%);
  background-image :      -o-linear-gradient(top, #0097A7 0%, #4DD0E1 100%);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#0097A7), to(#4DD0E1));
  background-image :         linear-gradient(to bottom, #0097A7 0%, #4DD0E1 100%);
  background-repeat : repeat-x;
}

.bg-gradient-directional-cyan {
  background-image : -webkit-linear-gradient(-45deg, #0097A7, #4DD0E1);
  background-image :    -moz-linear-gradient(-45deg, #0097A7, #4DD0E1);
  background-image :      -o-linear-gradient(-45deg, #0097A7, #4DD0E1);
  background-image : -webkit-linear-gradient(135deg, #0097A7, #4DD0E1);
  background-image :    -moz-linear-gradient(135deg, #0097A7, #4DD0E1);
  background-image :      -o-linear-gradient(135deg, #0097A7, #4DD0E1);
  background-image :         linear-gradient(-45deg, #0097A7, #4DD0E1);
  background-repeat : repeat-x;
}

.bg-gradient-x2-cyan {
  background-image : -webkit-gradient(linear, right top, left top, from(#4DD0E1), color-stop(50%, #00BCD4), to(#80DEEA));
  background-image : -webkit-linear-gradient(right, #4DD0E1, #00BCD4 50%, #80DEEA);
  background-image :    -moz-linear-gradient(right, #4DD0E1, #00BCD4 50%, #80DEEA);
  background-image :      -o-linear-gradient(right, #4DD0E1, #00BCD4 50%, #80DEEA);
  background-image :         linear-gradient(to left, #4DD0E1, #00BCD4 50%, #80DEEA);
  background-repeat : no-repeat;
}

.bg-gradient-y2-cyan {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#4DD0E1), color-stop(50%, #00BCD4), to(#80DEEA));
  background-image : -webkit-linear-gradient(#4DD0E1, #00BCD4 50%, #80DEEA);
  background-image :    -moz-linear-gradient(#4DD0E1, #00BCD4 50%, #80DEEA);
  background-image :      -o-linear-gradient(#4DD0E1, #00BCD4 50%, #80DEEA);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#4DD0E1), color-stop(50%, #00BCD4), to(#80DEEA));
  background-image :         linear-gradient(#4DD0E1, #00BCD4 50%, #80DEEA);
  background-repeat : no-repeat;
}

.bg-gradient-radial-cyan {
  background-image : -webkit-radial-gradient(circle, #0097A7, #4DD0E1);
  background-image :    -moz-radial-gradient(circle, #0097A7, #4DD0E1);
  background-image :      -o-radial-gradient(circle, #0097A7, #4DD0E1);
  background-image :         radial-gradient(circle, #0097A7, #4DD0E1);
  background-repeat : no-repeat;
}

.bg-gradient-striped-cyan {
  background-image : -webkit-linear-gradient(-45deg, #80DEEA 25%, transparent 25%, transparent 50%, #80DEEA 50%, #80DEEA 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(-45deg, #80DEEA 25%, transparent 25%, transparent 50%, #80DEEA 50%, #80DEEA 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(-45deg, #80DEEA 25%, transparent 25%, transparent 50%, #80DEEA 50%, #80DEEA 75%, transparent 75%, transparent);
  background-image : -webkit-linear-gradient(135deg, #80DEEA 25%, transparent 25%, transparent 50%, #80DEEA 50%, #80DEEA 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(135deg, #80DEEA 25%, transparent 25%, transparent 50%, #80DEEA 50%, #80DEEA 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(135deg, #80DEEA 25%, transparent 25%, transparent 50%, #80DEEA 50%, #80DEEA 75%, transparent 75%, transparent);
  background-image :         linear-gradient(-45deg, #80DEEA 25%, transparent 25%, transparent 50%, #80DEEA 50%, #80DEEA 75%, transparent 75%, transparent);
}

.bg-gradient-x-cyan .card-header, .bg-gradient-x-cyan .card-footer, .bg-gradient-y-cyan .card-header, .bg-gradient-y-cyan .card-footer, .bg-gradient-directional-cyan .card-header, .bg-gradient-directional-cyan .card-footer, .bg-gradient-radial-cyan .card-header, .bg-gradient-radial-cyan .card-footer, .bg-gradient-striped-cyan .card-header, .bg-gradient-striped-cyan .card-footer, .bg-gradient-x2-cyan .card-header, .bg-gradient-x2-cyan .card-footer, .bg-gradient-y2-cyan .card-header, .bg-gradient-y2-cyan .card-footer {
  background-color : transparent;
}

.bg-gradient-x-teal {
  background-image : -webkit-gradient(linear, right top, left top, from(#00796B), to(#4DB6AC));
  background-image : -webkit-linear-gradient(right, #00796B 0%, #4DB6AC 100%);
  background-image :    -moz-linear-gradient(right, #00796B 0%, #4DB6AC 100%);
  background-image :      -o-linear-gradient(right, #00796B 0%, #4DB6AC 100%);
  background-image :         linear-gradient(to left, #00796B 0%, #4DB6AC 100%);
  background-repeat : repeat-x;
}

.bg-gradient-y-teal {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#00796B), to(#4DB6AC));
  background-image : -webkit-linear-gradient(top, #00796B 0%, #4DB6AC 100%);
  background-image :    -moz-linear-gradient(top, #00796B 0%, #4DB6AC 100%);
  background-image :      -o-linear-gradient(top, #00796B 0%, #4DB6AC 100%);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#00796B), to(#4DB6AC));
  background-image :         linear-gradient(to bottom, #00796B 0%, #4DB6AC 100%);
  background-repeat : repeat-x;
}

.bg-gradient-directional-teal {
  background-image : -webkit-linear-gradient(-45deg, #00796B, #4DB6AC);
  background-image :    -moz-linear-gradient(-45deg, #00796B, #4DB6AC);
  background-image :      -o-linear-gradient(-45deg, #00796B, #4DB6AC);
  background-image : -webkit-linear-gradient(135deg, #00796B, #4DB6AC);
  background-image :    -moz-linear-gradient(135deg, #00796B, #4DB6AC);
  background-image :      -o-linear-gradient(135deg, #00796B, #4DB6AC);
  background-image :         linear-gradient(-45deg, #00796B, #4DB6AC);
  background-repeat : repeat-x;
}

.bg-gradient-x2-teal {
  background-image : -webkit-gradient(linear, right top, left top, from(#4DB6AC), color-stop(50%, #009688), to(#80CBC4));
  background-image : -webkit-linear-gradient(right, #4DB6AC, #009688 50%, #80CBC4);
  background-image :    -moz-linear-gradient(right, #4DB6AC, #009688 50%, #80CBC4);
  background-image :      -o-linear-gradient(right, #4DB6AC, #009688 50%, #80CBC4);
  background-image :         linear-gradient(to left, #4DB6AC, #009688 50%, #80CBC4);
  background-repeat : no-repeat;
}

.bg-gradient-y2-teal {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#4DB6AC), color-stop(50%, #009688), to(#80CBC4));
  background-image : -webkit-linear-gradient(#4DB6AC, #009688 50%, #80CBC4);
  background-image :    -moz-linear-gradient(#4DB6AC, #009688 50%, #80CBC4);
  background-image :      -o-linear-gradient(#4DB6AC, #009688 50%, #80CBC4);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#4DB6AC), color-stop(50%, #009688), to(#80CBC4));
  background-image :         linear-gradient(#4DB6AC, #009688 50%, #80CBC4);
  background-repeat : no-repeat;
}

.bg-gradient-radial-teal {
  background-image : -webkit-radial-gradient(circle, #00796B, #4DB6AC);
  background-image :    -moz-radial-gradient(circle, #00796B, #4DB6AC);
  background-image :      -o-radial-gradient(circle, #00796B, #4DB6AC);
  background-image :         radial-gradient(circle, #00796B, #4DB6AC);
  background-repeat : no-repeat;
}

.bg-gradient-striped-teal {
  background-image : -webkit-linear-gradient(-45deg, #80CBC4 25%, transparent 25%, transparent 50%, #80CBC4 50%, #80CBC4 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(-45deg, #80CBC4 25%, transparent 25%, transparent 50%, #80CBC4 50%, #80CBC4 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(-45deg, #80CBC4 25%, transparent 25%, transparent 50%, #80CBC4 50%, #80CBC4 75%, transparent 75%, transparent);
  background-image : -webkit-linear-gradient(135deg, #80CBC4 25%, transparent 25%, transparent 50%, #80CBC4 50%, #80CBC4 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(135deg, #80CBC4 25%, transparent 25%, transparent 50%, #80CBC4 50%, #80CBC4 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(135deg, #80CBC4 25%, transparent 25%, transparent 50%, #80CBC4 50%, #80CBC4 75%, transparent 75%, transparent);
  background-image :         linear-gradient(-45deg, #80CBC4 25%, transparent 25%, transparent 50%, #80CBC4 50%, #80CBC4 75%, transparent 75%, transparent);
}

.bg-gradient-x-teal .card-header, .bg-gradient-x-teal .card-footer, .bg-gradient-y-teal .card-header, .bg-gradient-y-teal .card-footer, .bg-gradient-directional-teal .card-header, .bg-gradient-directional-teal .card-footer, .bg-gradient-radial-teal .card-header, .bg-gradient-radial-teal .card-footer, .bg-gradient-striped-teal .card-header, .bg-gradient-striped-teal .card-footer, .bg-gradient-x2-teal .card-header, .bg-gradient-x2-teal .card-footer, .bg-gradient-y2-teal .card-header, .bg-gradient-y2-teal .card-footer {
  background-color : transparent;
}

.bg-gradient-x-yellow {
  background-image : -webkit-gradient(linear, right top, left top, from(#FBC02D), to(#FFF176));
  background-image : -webkit-linear-gradient(right, #FBC02D 0%, #FFF176 100%);
  background-image :    -moz-linear-gradient(right, #FBC02D 0%, #FFF176 100%);
  background-image :      -o-linear-gradient(right, #FBC02D 0%, #FFF176 100%);
  background-image :         linear-gradient(to left, #FBC02D 0%, #FFF176 100%);
  background-repeat : repeat-x;
}

.bg-gradient-y-yellow {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#FBC02D), to(#FFF176));
  background-image : -webkit-linear-gradient(top, #FBC02D 0%, #FFF176 100%);
  background-image :    -moz-linear-gradient(top, #FBC02D 0%, #FFF176 100%);
  background-image :      -o-linear-gradient(top, #FBC02D 0%, #FFF176 100%);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#FBC02D), to(#FFF176));
  background-image :         linear-gradient(to bottom, #FBC02D 0%, #FFF176 100%);
  background-repeat : repeat-x;
}

.bg-gradient-directional-yellow {
  background-image : -webkit-linear-gradient(-45deg, #FBC02D, #FFF176);
  background-image :    -moz-linear-gradient(-45deg, #FBC02D, #FFF176);
  background-image :      -o-linear-gradient(-45deg, #FBC02D, #FFF176);
  background-image : -webkit-linear-gradient(135deg, #FBC02D, #FFF176);
  background-image :    -moz-linear-gradient(135deg, #FBC02D, #FFF176);
  background-image :      -o-linear-gradient(135deg, #FBC02D, #FFF176);
  background-image :         linear-gradient(-45deg, #FBC02D, #FFF176);
  background-repeat : repeat-x;
}

.bg-gradient-x2-yellow {
  background-image : -webkit-gradient(linear, right top, left top, from(#FFF176), color-stop(50%, #FFEB3B), to(#FFF59D));
  background-image : -webkit-linear-gradient(right, #FFF176, #d1963d50%, #FFF59D);
  background-image :    -moz-linear-gradient(right, #FFF176, #d1963d50%, #FFF59D);
  background-image :      -o-linear-gradient(right, #FFF176, #d1963d50%, #FFF59D);
  background-image :         linear-gradient(to left, #FFF176, #d1963d50%, #FFF59D);
  background-repeat : no-repeat;
}

.bg-gradient-y2-yellow {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#FFF176), color-stop(50%, #FFEB3B), to(#FFF59D));
  background-image : -webkit-linear-gradient(#FFF176, #d1963d50%, #FFF59D);
  background-image :    -moz-linear-gradient(#FFF176, #d1963d50%, #FFF59D);
  background-image :      -o-linear-gradient(#FFF176, #d1963d50%, #FFF59D);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#FFF176), color-stop(50%, #FFEB3B), to(#FFF59D));
  background-image :         linear-gradient(#FFF176, #d1963d50%, #FFF59D);
  background-repeat : no-repeat;
}

.bg-gradient-radial-yellow {
  background-image : -webkit-radial-gradient(circle, #FBC02D, #FFF176);
  background-image :    -moz-radial-gradient(circle, #FBC02D, #FFF176);
  background-image :      -o-radial-gradient(circle, #FBC02D, #FFF176);
  background-image :         radial-gradient(circle, #FBC02D, #FFF176);
  background-repeat : no-repeat;
}

.bg-gradient-striped-yellow {
  background-image : -webkit-linear-gradient(-45deg, #FFF59D 25%, transparent 25%, transparent 50%, #FFF59D 50%, #FFF59D 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(-45deg, #FFF59D 25%, transparent 25%, transparent 50%, #FFF59D 50%, #FFF59D 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(-45deg, #FFF59D 25%, transparent 25%, transparent 50%, #FFF59D 50%, #FFF59D 75%, transparent 75%, transparent);
  background-image : -webkit-linear-gradient(135deg, #FFF59D 25%, transparent 25%, transparent 50%, #FFF59D 50%, #FFF59D 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(135deg, #FFF59D 25%, transparent 25%, transparent 50%, #FFF59D 50%, #FFF59D 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(135deg, #FFF59D 25%, transparent 25%, transparent 50%, #FFF59D 50%, #FFF59D 75%, transparent 75%, transparent);
  background-image :         linear-gradient(-45deg, #FFF59D 25%, transparent 25%, transparent 50%, #FFF59D 50%, #FFF59D 75%, transparent 75%, transparent);
}

.bg-gradient-x-yellow .card-header, .bg-gradient-x-yellow .card-footer, .bg-gradient-y-yellow .card-header, .bg-gradient-y-yellow .card-footer, .bg-gradient-directional-yellow .card-header, .bg-gradient-directional-yellow .card-footer, .bg-gradient-radial-yellow .card-header, .bg-gradient-radial-yellow .card-footer, .bg-gradient-striped-yellow .card-header, .bg-gradient-striped-yellow .card-footer, .bg-gradient-x2-yellow .card-header, .bg-gradient-x2-yellow .card-footer, .bg-gradient-y2-yellow .card-header, .bg-gradient-y2-yellow .card-footer {
  background-color : transparent;
}

.bg-gradient-x-amber {
  background-image : -webkit-gradient(linear, right top, left top, from(#FFA000), to(#FFD54F));
  background-image : -webkit-linear-gradient(right, #FFA000 0%, #FFD54F 100%);
  background-image :    -moz-linear-gradient(right, #FFA000 0%, #FFD54F 100%);
  background-image :      -o-linear-gradient(right, #FFA000 0%, #FFD54F 100%);
  background-image :         linear-gradient(to left, #FFA000 0%, #FFD54F 100%);
  background-repeat : repeat-x;
}

.bg-gradient-y-amber {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#FFA000), to(#FFD54F));
  background-image : -webkit-linear-gradient(top, #FFA000 0%, #FFD54F 100%);
  background-image :    -moz-linear-gradient(top, #FFA000 0%, #FFD54F 100%);
  background-image :      -o-linear-gradient(top, #FFA000 0%, #FFD54F 100%);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#FFA000), to(#FFD54F));
  background-image :         linear-gradient(to bottom, #FFA000 0%, #FFD54F 100%);
  background-repeat : repeat-x;
}

.bg-gradient-directional-amber {
  background-image : -webkit-linear-gradient(-45deg, #FFA000, #FFD54F);
  background-image :    -moz-linear-gradient(-45deg, #FFA000, #FFD54F);
  background-image :      -o-linear-gradient(-45deg, #FFA000, #FFD54F);
  background-image : -webkit-linear-gradient(135deg, #FFA000, #FFD54F);
  background-image :    -moz-linear-gradient(135deg, #FFA000, #FFD54F);
  background-image :      -o-linear-gradient(135deg, #FFA000, #FFD54F);
  background-image :         linear-gradient(-45deg, #FFA000, #FFD54F);
  background-repeat : repeat-x;
}

.bg-gradient-x2-amber {
  background-image : -webkit-gradient(linear, right top, left top, from(#FFD54F), color-stop(50%, #FFC107), to(#FFE082));
  background-image : -webkit-linear-gradient(right, #FFD54F, #FFC107 50%, #FFE082);
  background-image :    -moz-linear-gradient(right, #FFD54F, #FFC107 50%, #FFE082);
  background-image :      -o-linear-gradient(right, #FFD54F, #FFC107 50%, #FFE082);
  background-image :         linear-gradient(to left, #FFD54F, #FFC107 50%, #FFE082);
  background-repeat : no-repeat;
}

.bg-gradient-y2-amber {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#FFD54F), color-stop(50%, #FFC107), to(#FFE082));
  background-image : -webkit-linear-gradient(#FFD54F, #FFC107 50%, #FFE082);
  background-image :    -moz-linear-gradient(#FFD54F, #FFC107 50%, #FFE082);
  background-image :      -o-linear-gradient(#FFD54F, #FFC107 50%, #FFE082);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#FFD54F), color-stop(50%, #FFC107), to(#FFE082));
  background-image :         linear-gradient(#FFD54F, #FFC107 50%, #FFE082);
  background-repeat : no-repeat;
}

.bg-gradient-radial-amber {
  background-image : -webkit-radial-gradient(circle, #FFA000, #FFD54F);
  background-image :    -moz-radial-gradient(circle, #FFA000, #FFD54F);
  background-image :      -o-radial-gradient(circle, #FFA000, #FFD54F);
  background-image :         radial-gradient(circle, #FFA000, #FFD54F);
  background-repeat : no-repeat;
}

.bg-gradient-striped-amber {
  background-image : -webkit-linear-gradient(-45deg, #FFE082 25%, transparent 25%, transparent 50%, #FFE082 50%, #FFE082 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(-45deg, #FFE082 25%, transparent 25%, transparent 50%, #FFE082 50%, #FFE082 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(-45deg, #FFE082 25%, transparent 25%, transparent 50%, #FFE082 50%, #FFE082 75%, transparent 75%, transparent);
  background-image : -webkit-linear-gradient(135deg, #FFE082 25%, transparent 25%, transparent 50%, #FFE082 50%, #FFE082 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(135deg, #FFE082 25%, transparent 25%, transparent 50%, #FFE082 50%, #FFE082 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(135deg, #FFE082 25%, transparent 25%, transparent 50%, #FFE082 50%, #FFE082 75%, transparent 75%, transparent);
  background-image :         linear-gradient(-45deg, #FFE082 25%, transparent 25%, transparent 50%, #FFE082 50%, #FFE082 75%, transparent 75%, transparent);
}

.bg-gradient-x-amber .card-header, .bg-gradient-x-amber .card-footer, .bg-gradient-y-amber .card-header, .bg-gradient-y-amber .card-footer, .bg-gradient-directional-amber .card-header, .bg-gradient-directional-amber .card-footer, .bg-gradient-radial-amber .card-header, .bg-gradient-radial-amber .card-footer, .bg-gradient-striped-amber .card-header, .bg-gradient-striped-amber .card-footer, .bg-gradient-x2-amber .card-header, .bg-gradient-x2-amber .card-footer, .bg-gradient-y2-amber .card-header, .bg-gradient-y2-amber .card-footer {
  background-color : transparent;
}

.bg-gradient-x-blue-grey {
  background-image : -webkit-gradient(linear, right top, left top, from(#455A64), to(#90A4AE));
  background-image : -webkit-linear-gradient(right, #455A64 0%, #90A4AE 100%);
  background-image :    -moz-linear-gradient(right, #455A64 0%, #90A4AE 100%);
  background-image :      -o-linear-gradient(right, #455A64 0%, #90A4AE 100%);
  background-image :         linear-gradient(to left, #455A64 0%, #90A4AE 100%);
  background-repeat : repeat-x;
}

.bg-gradient-y-blue-grey {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#455A64), to(#90A4AE));
  background-image : -webkit-linear-gradient(top, #455A64 0%, #90A4AE 100%);
  background-image :    -moz-linear-gradient(top, #455A64 0%, #90A4AE 100%);
  background-image :      -o-linear-gradient(top, #455A64 0%, #90A4AE 100%);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#455A64), to(#90A4AE));
  background-image :         linear-gradient(to bottom, #455A64 0%, #90A4AE 100%);
  background-repeat : repeat-x;
}

.bg-gradient-directional-blue-grey {
  background-image : -webkit-linear-gradient(-45deg, #455A64, #90A4AE);
  background-image :    -moz-linear-gradient(-45deg, #455A64, #90A4AE);
  background-image :      -o-linear-gradient(-45deg, #455A64, #90A4AE);
  background-image : -webkit-linear-gradient(135deg, #455A64, #90A4AE);
  background-image :    -moz-linear-gradient(135deg, #455A64, #90A4AE);
  background-image :      -o-linear-gradient(135deg, #455A64, #90A4AE);
  background-image :         linear-gradient(-45deg, #455A64, #90A4AE);
  background-repeat : repeat-x;
}

.bg-gradient-x2-blue-grey {
  background-image : -webkit-gradient(linear, right top, left top, from(#90A4AE), color-stop(50%, #607D8B), to(#B0BEC5));
  background-image : -webkit-linear-gradient(right, #90A4AE, #607D8B 50%, #B0BEC5);
  background-image :    -moz-linear-gradient(right, #90A4AE, #607D8B 50%, #B0BEC5);
  background-image :      -o-linear-gradient(right, #90A4AE, #607D8B 50%, #B0BEC5);
  background-image :         linear-gradient(to left, #90A4AE, #607D8B 50%, #B0BEC5);
  background-repeat : no-repeat;
}

.bg-gradient-y2-blue-grey {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#90A4AE), color-stop(50%, #607D8B), to(#B0BEC5));
  background-image : -webkit-linear-gradient(#90A4AE, #607D8B 50%, #B0BEC5);
  background-image :    -moz-linear-gradient(#90A4AE, #607D8B 50%, #B0BEC5);
  background-image :      -o-linear-gradient(#90A4AE, #607D8B 50%, #B0BEC5);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#90A4AE), color-stop(50%, #607D8B), to(#B0BEC5));
  background-image :         linear-gradient(#90A4AE, #607D8B 50%, #B0BEC5);
  background-repeat : no-repeat;
}

.bg-gradient-radial-blue-grey {
  background-image : -webkit-radial-gradient(circle, #455A64, #90A4AE);
  background-image :    -moz-radial-gradient(circle, #455A64, #90A4AE);
  background-image :      -o-radial-gradient(circle, #455A64, #90A4AE);
  background-image :         radial-gradient(circle, #455A64, #90A4AE);
  background-repeat : no-repeat;
}

.bg-gradient-striped-blue-grey {
  background-image : -webkit-linear-gradient(-45deg, #B0BEC5 25%, transparent 25%, transparent 50%, #B0BEC5 50%, #B0BEC5 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(-45deg, #B0BEC5 25%, transparent 25%, transparent 50%, #B0BEC5 50%, #B0BEC5 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(-45deg, #B0BEC5 25%, transparent 25%, transparent 50%, #B0BEC5 50%, #B0BEC5 75%, transparent 75%, transparent);
  background-image : -webkit-linear-gradient(135deg, #B0BEC5 25%, transparent 25%, transparent 50%, #B0BEC5 50%, #B0BEC5 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(135deg, #B0BEC5 25%, transparent 25%, transparent 50%, #B0BEC5 50%, #B0BEC5 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(135deg, #B0BEC5 25%, transparent 25%, transparent 50%, #B0BEC5 50%, #B0BEC5 75%, transparent 75%, transparent);
  background-image :         linear-gradient(-45deg, #B0BEC5 25%, transparent 25%, transparent 50%, #B0BEC5 50%, #B0BEC5 75%, transparent 75%, transparent);
}

.bg-gradient-x-blue-grey .card-header, .bg-gradient-x-blue-grey .card-footer, .bg-gradient-y-blue-grey .card-header, .bg-gradient-y-blue-grey .card-footer, .bg-gradient-directional-blue-grey .card-header, .bg-gradient-directional-blue-grey .card-footer, .bg-gradient-radial-blue-grey .card-header, .bg-gradient-radial-blue-grey .card-footer, .bg-gradient-striped-blue-grey .card-header, .bg-gradient-striped-blue-grey .card-footer, .bg-gradient-x2-blue-grey .card-header, .bg-gradient-x2-blue-grey .card-footer, .bg-gradient-y2-blue-grey .card-header, .bg-gradient-y2-blue-grey .card-footer {
  background-color : transparent;
}

.bg-gradient-x-grey-blue {
  background-image : -webkit-gradient(linear, right top, left top, from(#2C303B), to(#6F85AD));
  background-image : -webkit-linear-gradient(right, #2C303B 0%, #6F85AD 100%);
  background-image :    -moz-linear-gradient(right, #2C303B 0%, #6F85AD 100%);
  background-image :      -o-linear-gradient(right, #2C303B 0%, #6F85AD 100%);
  background-image :         linear-gradient(to left, #2C303B 0%, #6F85AD 100%);
  background-repeat : repeat-x;
}

.bg-gradient-y-grey-blue {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#2C303B), to(#6F85AD));
  background-image : -webkit-linear-gradient(top, #2C303B 0%, #6F85AD 100%);
  background-image :    -moz-linear-gradient(top, #2C303B 0%, #6F85AD 100%);
  background-image :      -o-linear-gradient(top, #2C303B 0%, #6F85AD 100%);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#2C303B), to(#6F85AD));
  background-image :         linear-gradient(to bottom, #2C303B 0%, #6F85AD 100%);
  background-repeat : repeat-x;
}

.bg-gradient-directional-grey-blue {
  background-image : -webkit-linear-gradient(-45deg, #2C303B, #6F85AD);
  background-image :    -moz-linear-gradient(-45deg, #2C303B, #6F85AD);
  background-image :      -o-linear-gradient(-45deg, #2C303B, #6F85AD);
  background-image : -webkit-linear-gradient(135deg, #2C303B, #6F85AD);
  background-image :    -moz-linear-gradient(135deg, #2C303B, #6F85AD);
  background-image :      -o-linear-gradient(135deg, #2C303B, #6F85AD);
  background-image :         linear-gradient(-45deg, #2C303B, #6F85AD);
  background-repeat : repeat-x;
}

.bg-gradient-x2-grey-blue {
  background-image : -webkit-gradient(linear, right top, left top, from(#6F85AD), color-stop(50%, #1B2942), to(#B0BEC5));
  background-image : -webkit-linear-gradient(right, #6F85AD, #1B2942 50%, #B0BEC5);
  background-image :    -moz-linear-gradient(right, #6F85AD, #1B2942 50%, #B0BEC5);
  background-image :      -o-linear-gradient(right, #6F85AD, #1B2942 50%, #B0BEC5);
  background-image :         linear-gradient(to left, #6F85AD, #1B2942 50%, #B0BEC5);
  background-repeat : no-repeat;
}

.bg-gradient-y2-grey-blue {
  background-image : -webkit-gradient(linear, right top, right bottom, from(#6F85AD), color-stop(50%, #1B2942), to(#B0BEC5));
  background-image : -webkit-linear-gradient(#6F85AD, #1B2942 50%, #B0BEC5);
  background-image :    -moz-linear-gradient(#6F85AD, #1B2942 50%, #B0BEC5);
  background-image :      -o-linear-gradient(#6F85AD, #1B2942 50%, #B0BEC5);
  background-image : -webkit-gradient(linear, left top, left bottom, from(#6F85AD), color-stop(50%, #1B2942), to(#B0BEC5));
  background-image :         linear-gradient(#6F85AD, #1B2942 50%, #B0BEC5);
  background-repeat : no-repeat;
}

.bg-gradient-radial-grey-blue {
  background-image : -webkit-radial-gradient(circle, #2C303B, #6F85AD);
  background-image :    -moz-radial-gradient(circle, #2C303B, #6F85AD);
  background-image :      -o-radial-gradient(circle, #2C303B, #6F85AD);
  background-image :         radial-gradient(circle, #2C303B, #6F85AD);
  background-repeat : no-repeat;
}

.bg-gradient-striped-grey-blue {
  background-image : -webkit-linear-gradient(-45deg, #B0BEC5 25%, transparent 25%, transparent 50%, #B0BEC5 50%, #B0BEC5 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(-45deg, #B0BEC5 25%, transparent 25%, transparent 50%, #B0BEC5 50%, #B0BEC5 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(-45deg, #B0BEC5 25%, transparent 25%, transparent 50%, #B0BEC5 50%, #B0BEC5 75%, transparent 75%, transparent);
  background-image : -webkit-linear-gradient(135deg, #B0BEC5 25%, transparent 25%, transparent 50%, #B0BEC5 50%, #B0BEC5 75%, transparent 75%, transparent);
  background-image :    -moz-linear-gradient(135deg, #B0BEC5 25%, transparent 25%, transparent 50%, #B0BEC5 50%, #B0BEC5 75%, transparent 75%, transparent);
  background-image :      -o-linear-gradient(135deg, #B0BEC5 25%, transparent 25%, transparent 50%, #B0BEC5 50%, #B0BEC5 75%, transparent 75%, transparent);
  background-image :         linear-gradient(-45deg, #B0BEC5 25%, transparent 25%, transparent 50%, #B0BEC5 50%, #B0BEC5 75%, transparent 75%, transparent);
}

.bg-gradient-x-grey-blue .card-header, .bg-gradient-x-grey-blue .card-footer, .bg-gradient-y-grey-blue .card-header, .bg-gradient-y-grey-blue .card-footer, .bg-gradient-directional-grey-blue .card-header, .bg-gradient-directional-grey-blue .card-footer, .bg-gradient-radial-grey-blue .card-header, .bg-gradient-radial-grey-blue .card-footer, .bg-gradient-striped-grey-blue .card-header, .bg-gradient-striped-grey-blue .card-footer, .bg-gradient-x2-grey-blue .card-header, .bg-gradient-x2-grey-blue .card-footer, .bg-gradient-y2-grey-blue .card-header, .bg-gradient-y2-grey-blue .card-footer {
  background-color : transparent;
}