.email-application .content-header {
  margin-bottom : 0 !important;
}

.email-application .email-app-menu {
  border-left : 1px solid #E4E7ED;
  height : 100%;
}
.email-application .email-app-menu .form-group-compose {
  border-bottom : 1px solid #E4E7ED;
}
.email-application .email-app-menu .list-group-messages {
  border-bottom : 1px solid #E4E7ED;
}
.email-application .email-app-menu .list-group-messages a {
  padding : 0.85rem 1rem;
  font-size : 1.1rem;
}

.email-application .email-app-list #users-list {
  position : fixed;
  height : -webkit-calc(100vh - 5.18rem);
  height :    -moz-calc(100vh - 5.18rem);
  height :         calc(100vh - 5.18rem);
  overflow : scroll;
  width : 291px;
  background : #FFFFFF;
}
.email-application .email-app-list #users-list .media {
  margin-left : 2px;
}
.email-application .email-app-list #users-list .media.active, .email-application .email-app-list #users-list .media:hover {
  background : rgba(0, 0, 0, 0.05);
  border-left : 2px solid #d1963d !important;
  margin-left : 0;
}

.email-application .email-app-details {
  overflow : hidden;
  overflow-y : scroll;
  height : -webkit-calc(100% - 45px);
  height :    -moz-calc(100% - 45px);
  height :         calc(100% - 45px);
  margin-bottom : 0;
}
.email-application .email-app-details .email-app-options, .email-application .email-app-details .email-app-title {
  border-bottom : 1px solid #E4E7ED;
}
.email-application .email-app-details .email-app-options .favorite i, .email-application .email-app-details .email-app-title .favorite i {
  cursor : pointer;
}

.email-application .sidebar {
  width : 499px;
  display : table;
  height : 100%;
}
.email-application .sidebar .email-app-sidebar {
  display : table;
  height : 100%;
}

.email-application .content-right {
  width : -webkit-calc(100% - 500px);
  width :    -moz-calc(100% - 500px);
  width :         calc(100% - 500px);
}

.email-application .app-content, .email-application .content-right, .email-application .content-wrapper, .email-application .content-body {
  height : 100%;
}

.email-application .content-wrapper {
  padding : 0 !important;
}

.email-application .sidebar-left {
  border-left : 1px solid #E4E7ED;
  z-index : 1055;
  display : table;
  height : 100%;
}

.email-application .email-fixed-search {
  position : fixed;
  z-index : 1;
  background : #FFFFFF;
  width : 291px;
  padding : 1rem;
}
.email-application .email-fixed-search fieldset {
  border-bottom : 1px solid #E4E7ED;
}

.email-application .users-list-padding {
  padding-top : 83px;
  padding-bottom : 60px;
}

.email-application .app-content .sidebar-toggle {
  position : absolute;
  margin-top : 4px;
  cursor : pointer;
  margin-right : 1rem;
}

.email-application .app-content .go-back {
  cursor : pointer;
}

.email-application .app-content .content-overlay {
  top : 0;
  right : 0;
  left : 0;
  bottom : 0;
  position : fixed;
  display : block;
  z-index : 2;
  visibility : hidden;
}
.email-application .app-content .content-overlay.show {
  visibility : visible;
  background-color : rgba(0, 0, 0, 0.6);
}

.email-application.horizontal-layout .app-content {
  height : -webkit-calc(100% - 207px) !important;
  height :    -moz-calc(100% - 207px) !important;
  height :         calc(100% - 207px) !important;
  min-height : -webkit-calc(100% - 207px) !important;
  min-height :    -moz-calc(100% - 207px) !important;
  min-height :         calc(100% - 207px) !important;
  margin-top : 0 !important;
}

.email-application.horizontal-layout .email-app-details {
  height : -webkit-calc(100% - 10px);
  height :    -moz-calc(100% - 10px);
  height :         calc(100% - 10px);
}

.email-application.horizontal-layout .email-app-menu, .email-application.horizontal-layout .sidebar-left, .email-application.horizontal-layout .email-app-list #users-list, .email-application.horizontal-layout .sidebar .email-app-sidebar {
  height : -webkit-calc(100vh - 12rem);
  height :    -moz-calc(100vh - 12rem);
  height :         calc(100vh - 12rem);
}

@media (max-width: 991.98px) {
  .email-application .email-fixed-search, .email-application .email-app-list #users-list {
    width : -webkit-calc(100% - 207px);
    width :    -moz-calc(100% - 207px);
    width :         calc(100% - 207px);
  }
  .email-application .app-content .content-right {
    left : -125%;
    width : -webkit-calc(100% - 60px);
    width :    -moz-calc(100% - 60px);
    width :         calc(100% - 60px);
    position : fixed;
    top : 71px;
    z-index : 10;
    height : -webkit-calc(100% - 71px);
    height :    -moz-calc(100% - 71px);
    height :         calc(100% - 71px);
  }
  .email-application .app-content .content-right.show {
    left : auto;
    right : auto;
  }
  .email-application .app-content .content-right.show .content-header {
    margin-bottom : 0 !important;
  }
  .email-application[data-menu='vertical-menu-modern'] .app-content .content-right.show, .email-application.vertical-overlay-menu .app-content .content-right.show {
    width : 100%;
  }
  .email-application.horizontal-layout .email-fixed-search, .email-application.horizontal-layout .email-app-list #users-list {
    width : -webkit-calc(100% - 207px);
    width :    -moz-calc(100% - 207px);
    width :         calc(100% - 207px);
  }
  .email-application.horizontal-layout .app-content .content-right.show {
    width : 100%;
    top : 150px;
  }
  .email-application.horizontal-menu-padding .email-fixed-search, .email-application.horizontal-menu-padding .email-app-list #users-list {
    width : -webkit-calc(720px - 207px);
    width :    -moz-calc(720px - 207px);
    width :         calc(720px - 207px);
  }
  .email-application.horizontal-menu-padding .app-content .content-right.show {
    width : 720px;
  }
  .email-application.vertical-compact-menu .email-fixed-search, .email-application.vertical-compact-menu .email-app-list #users-list {
    width : -webkit-calc(100% - 360px) !important;
    width :    -moz-calc(100% - 360px) !important;
    width :         calc(100% - 360px) !important;
  }
  .email-application.vertical-compact-menu .app-content .content-right.show {
    width : -webkit-calc(100% - 120px);
    width :    -moz-calc(100% - 120px);
    width :         calc(100% - 120px);
  }
  .email-application.vertical-menu .email-fixed-search, .email-application.vertical-menu .email-app-list #users-list {
    width : -webkit-calc(100% - 267px) !important;
    width :    -moz-calc(100% - 267px) !important;
    width :         calc(100% - 267px) !important;
  }
}

@media (max-width: 767.98px) {
  .email-application .email-fixed-search, .email-application .email-app-list #users-list {
    width : 100%;
  }
  .email-application .email-fixed-search .form-group {
    margin-right : 3.5rem !important;
  }
  .email-application .sidebar-left {
    float : right;
  }
  .email-application .content-right {
    width : -webkit-calc(100% - 300px);
    width :    -moz-calc(100% - 300px);
    width :         calc(100% - 300px);
    float : left;
  }
  .email-application .app-content .sidebar-left .email-app-menu {
    -webkit-transform : translateX(100%);
       -moz-transform : translateX(100%);
        -ms-transform : translateX(100%);
         -o-transform : translateX(100%);
            transform : translateX(100%);
    -webkit-transition : 300ms ease all;
         -o-transition : 300ms ease all;
       -moz-transition : 300ms ease all;
            transition : 300ms ease all;
    display : none;
  }
  .email-application .app-content .sidebar-left .email-app-menu.show {
    display : block;
    position : fixed;
    top : 71px;
    width : 300px;
    z-index : 1052;
    right : 0;
    -webkit-transform : translateX(0%);
       -moz-transform : translateX(0%);
        -ms-transform : translateX(0%);
         -o-transform : translateX(0%);
            transform : translateX(0%);
    height : -webkit-calc(100% - 71px);
    height :    -moz-calc(100% - 71px);
    height :         calc(100% - 71px);
    -webkit-transition : 300ms ease all;
         -o-transition : 300ms ease all;
       -moz-transition : 300ms ease all;
            transition : 300ms ease all;
    overflow-y : scroll;
  }
  .email-application .app-content .content-right.show {
    width : 100%;
  }
  .email-application.horizontal-layout .email-fixed-search, .email-application.horizontal-layout .email-app-list #users-list {
    width : 100%;
  }
  .email-application.horizontal-layout .email-app-list #users-list {
    height : -webkit-calc(100vh - 7rem);
    height :    -moz-calc(100vh - 7rem);
    height :         calc(100vh - 7rem);
  }
  .email-application.horizontal-layout .app-content .content-right.show {
    width : 100%;
    top : 63px;
  }
  .email-application.horizontal-menu-padding .email-fixed-search, .email-application.horizontal-menu-padding .email-app-list #users-list {
    width : -webkit-calc(720px - 207px);
    width :    -moz-calc(720px - 207px);
    width :         calc(720px - 207px);
  }
  .email-application.horizontal-menu-padding .app-content .content-right.show {
    width : -webkit-calc(720px - 200px);
    width :    -moz-calc(720px - 200px);
    width :         calc(720px - 200px);
  }
}

@media only screen and (max-width: 529px) {
  .email-application.horizontal-menu-padding .email-fixed-search, .email-application.horizontal-menu-padding .email-app-list #users-list {
    width : -webkit-calc(100% - 1rem);
    width :    -moz-calc(100% - 1rem);
    width :         calc(100% - 1rem);
  }
  .email-application.horizontal-menu-padding .app-content .content-right.show {
    width : 100%;
  }
}

.material-vertical-layout.email-application .email-fixed-search fieldset {
  padding-bottom : 0.7rem !important;
}