.chat-application .app-content, .chat-application .content-right, .chat-application .content-wrapper, .chat-application .content-body {
  height : -webkit-calc( 100% - 0.2rem);
  height :    -moz-calc( 100% - 0.2rem);
  height :         calc( 100% - 0.2rem);
}

.chat-application .content-header {
  margin-bottom : 0 !important;
}

.chat-application .content-wrapper {
  padding : 0 !important;
}

.chat-application .sidebar-left {
  border-left : 1px solid #E4E7ED;
  height : -webkit-calc(100% - 7.15rem);
  height :    -moz-calc(100% - 7.15rem);
  height :         calc(100% - 7.15rem);
}
.chat-application .sidebar-left .sidebar-content .list-group a.media {
  margin-left : 2px;
}
.chat-application .sidebar-left .sidebar-content .list-group a.media.active, .chat-application .sidebar-left .sidebar-content .list-group a.media:hover {
  background : rgba(0, 0, 0, 0.05);
  border-left : 2px solid #d1963d !important;
  margin-left : 0;
}
.chat-application .sidebar-left .card {
  margin-bottom : 0;
}

.chat-application .content-overlay {
  top : 0;
  right : 0;
  left : 0;
  bottom : 0;
  position : absolute;
  display : block;
  z-index : 2;
  visibility : hidden;
}
.chat-application .content-overlay.show {
  visibility : visible;
  background-color : rgba(0, 0, 0, 0.6);
}

.chat-application .chat-fixed-search {
  position : fixed;
  z-index : 999;
  background : #FFFFFF;
  width : 300px;
  border-bottom : 1px solid #E4E7ED;
}

.chat-application .users-list-padding {
  padding-top : 83px;
  padding-bottom : 25px;
}

.chat-application .chat-app-window {
  padding : 20px 30px;
  overflow-y : scroll;
  text-align : center;
  height : -webkit-calc(100% - 112px);
  height :    -moz-calc(100% - 112px);
  height :         calc(100% - 112px);
  background-color : #FFFFFF;
  position : relative;
}

.chat-application .chat-app-form {
  position : relative;
  padding : 20px 10px;
  background-color : #EDEEF0;
  overflow : hidden;
}

.chat-application .chats {
  padding : 0;
}
.chat-application .chats .chat-body {
  display : block;
  margin : 10px 0 0 30px;
  overflow : hidden;
}
.chat-application .chats .chat-body .chat-content {
  text-align : left;
  position : relative;
  display : block;
  float : left;
  padding : 8px 15px;
  margin : 0 0 10px 20px;
  clear : both;
  color : #FFFFFF;
  background-color : #d1963d;
  border-radius : 4px;
}
.chat-application .chats .chat-body .chat-content:before {
  position : absolute;
  top : 10px;
  left : -10px;
  width : 0;
  height : 0;
  content : '';
  border : 5px solid transparent;
  border-right-color : #d1963d;
}
.chat-application .chats .chat-body .chat-content + .chat-content:before {
  border-color : transparent;
}
.chat-application .chats .chat-body .chat-content p {
  margin : 0;
}
.chat-application .chats .chat-avatar {
  float : left;
}
.chat-application .chats .chat-avatar .avatar {
  width : 50px;
  margin-top : -10px;
}
.chat-application .chats .time {
  color : #BABFC7;
  font-size : 12px;
  text-align : center;
  margin : 40px 0;
}
.chat-application .chats .chat-left .chat-avatar {
  float : right;
}
.chat-application .chats .chat-left .chat-body {
  margin-left : 0;
  margin-right : 30px;
}
.chat-application .chats .chat-left .chat-content {
  text-align : right;
  float : right;
  margin : 0 20px 10px 0;
  color : #6B6F82;
  background-color : #EDEEF0;
}
.chat-application .chats .chat-left .chat-content + .chat-content:before {
  border-color : transparent;
}
.chat-application .chats .chat-left .chat-content:before {
  left : auto;
  right : -10px;
  border-left-color : #EDEEF0;
  border-right-color : transparent;
}

.chat-application .form-control-position {
  cursor : pointer;
}
.chat-application .form-control-position.control-position-right {
  left : 18px;
  top : 2px;
  cursor : pointer;
}

@media (max-width: 767.98px) {
  .chat-application .chat-app-window {
    height : -webkit-calc(100% - 132px);
    height :    -moz-calc(100% - 132px);
    height :         calc(100% - 132px);
  }
}

.horizontal-layout.chat-application .content-right, .horizontal-layout.chat-application .content-wrapper, .horizontal-layout.chat-application .content-body {
  height : -webkit-calc( 100% - 0.8rem);
  height :    -moz-calc( 100% - 0.8rem);
  height :         calc( 100% - 0.8rem);
}

.horizontal-layout.chat-application .app-content {
  height : -webkit-calc(100% - 144px) !important;
  height :    -moz-calc(100% - 144px) !important;
  height :         calc(100% - 144px) !important;
  min-height : -webkit-calc(100% - 144px) !important;
  min-height :    -moz-calc(100% - 144px) !important;
  min-height :         calc(100% - 144px) !important;
  margin-top : 0 !important;
}
.horizontal-layout.chat-application .app-content .chat-app-window {
  height : -webkit-calc(100% - 83px) !important;
}

.horizontal-layout.chat-application .sidebar-left {
  height : -webkit-calc(100% - 6rem);
  height :    -moz-calc(100% - 6rem);
  height :         calc(100% - 6rem);
}

@media only screen and (max-width: 991px) {
  .chat-application .chat-fixed-search {
    width : 286px;
    display : none;
  }
  .chat-application .sidebar-fixed.sidebar-left {
    -webkit-transform : translateX(175%);
       -moz-transform : translateX(175%);
        -ms-transform : translateX(175%);
         -o-transform : translateX(175%);
            transform : translateX(175%);
    -webkit-transition : 300ms ease all;
         -o-transition : 300ms ease all;
       -moz-transition : 300ms ease all;
            transition : 300ms ease all;
    z-index : 999;
  }
  .chat-application .sidebar-fixed.sidebar-left.show {
    border-left : 0;
    -webkit-transform : translateX(0%);
       -moz-transform : translateX(0%);
        -ms-transform : translateX(0%);
         -o-transform : translateX(0%);
            transform : translateX(0%);
    -webkit-transition : 300ms ease all;
         -o-transition : 300ms ease all;
       -moz-transition : 300ms ease all;
            transition : 300ms ease all;
    width : 300px;
  }
  .chat-application .sidebar-fixed.sidebar-left.show .chat-fixed-search {
    width : 300px;
    display : block;
  }
  .chat-application .sidebar-toggle {
    float : right;
    cursor : pointer;
    position : fixed;
    z-index : 1;
    right : 0.5rem;
  }
  .chat-application.vertical-compact-menu .sidebar-toggle {
    right : 9.5rem;
  }
  .chat-application.vertical-menu .sidebar-toggle {
    right : 5.5rem;
  }
  .chat-application.horizontal-layout .header-navbar {
    z-index : 4;
  }
  .chat-application.horizontal-layout .sidebar-fixed.sidebar-left.show {
    right : 0;
  }
  .chat-application.horizontal-menu-padding.chat-application .sidebar-toggle {
    right : auto;
  }
}

@media only screen and (max-width: 767px) {
  .chat-application .sidebar-toggle {
    right : 2rem;
    background : white;
  }
  .chat-application .sidebar-fixed.sidebar-left {
    height : -webkit-calc(100% - 7.5rem);
    height :    -moz-calc(100% - 7.5rem);
    height :         calc(100% - 7.5rem);
  }
  .horizontal-layout.chat-application .app-content {
    height : -webkit-calc(100% - 65px) !important;
    height :    -moz-calc(100% - 65px) !important;
    height :         calc(100% - 65px) !important;
  }
  .horizontal-layout.chat-application .app-content .chat-app-window {
    height : -webkit-calc(100% - 45px) !important;
  }
}