#scoreLineToDay .ct-series-a .ct-line {
  stroke : #d1963d;
  stroke-width : 5px;
}

#scoreLineToWeek .ct-series-a .ct-line {
  stroke : #d1963d;
  stroke-width : 5px;
}

#scoreLineToMonth .ct-series-a .ct-line {
  stroke : #FF4961;
  stroke-width : 5px;
}

.ct-area-circle {
  fill : #28D094;
  stroke-width : 5;
  stroke : #FFFFFF;
}

.scoreLineShadow {
  -webkit-filter : drop-shadow(0px 20px 6px rgba(0, 0, 0, 0.5));
          filter : drop-shadow(0px 20px 6px rgba(0, 0, 0, 0.5));
}

.chart-stats .percentage {
  font-size : 3rem;
  color : rgba(255, 255, 255, 0.15);
  position : absolute;
  bottom : 20px;
  left : 3px;
}

#bank-calendar .clndr {
  background-color : transparent;
}
#bank-calendar .clndr .clndr-grid {
  width : 100%;
}
#bank-calendar .clndr .clndr-grid .days-of-the-week {
  background-color : transparent;
}
#bank-calendar .clndr .clndr-grid .days-of-the-week .header-day {
  color : #6B6F82;
}
#bank-calendar .clndr .clndr-controls {
  background-color : transparent;
  color : #6B6F82;
}
#bank-calendar .clndr .clndr-controls .clndr-previous-button, #bank-calendar .clndr .clndr-controls .clndr-next-button {
  font-size : 1.25rem;
}
#bank-calendar .clndr .event-listing {
  display : none;
}
#bank-calendar .clndr .current-month {
  font-size : 1.25rem;
}

.table tr:last-child td {
  border-bottom : none;
}