.ecommerce-cart .content .content-wrapper .content-header {
  background : url('../../images/backgrounds/laptop.jpg') no-repeat scroll 100% 40%;
  -webkit-background-size : cover;
          background-size : cover;
  margin : 0 0 5rem;
}
.ecommerce-cart .content .content-wrapper .content-header .content-header-title {
  border-left : none;
}
.ecommerce-cart .content .content-wrapper .content-header .breadcrumbs-top {
  display : -webkit-box !important;
  display : -webkit-flex !important;
  display :    -moz-box !important;
  display : -ms-flexbox !important;
  display :         flex !important;
}

.shopping-cart .nav.nav-tabs {
  border : none;
  margin-bottom : 2rem;
}
.shopping-cart .nav.nav-tabs li.nav-item {
  background-color : #FFFFFF;
  margin : 0 1rem;
  border-radius : 3px;
  font-size : 1.25rem;
}
.shopping-cart .nav.nav-tabs li.nav-item .nav-link {
  padding : 0.75rem;
}
.shopping-cart .nav.nav-tabs li.nav-item .nav-link.active {
  border-radius : 3px;
  background-color : #d1963d;
  border : none;
  color : #FFFFFF;
}
.shopping-cart .nav.nav-tabs li.nav-item:first-child {
  margin-right : 0;
}
.shopping-cart .nav.nav-tabs li.nav-item:last-child {
  margin-left : 0;
}

.shopping-cart .product-img {
  background : #F4F5FA;
  height : 100px;
  margin-bottom : 1rem;
  width : 130px;
  position : relative;
}
.shopping-cart .product-img img {
  height : 80px;
  margin : 0 auto;
}

.shopping-cart .table tr td {
  vertical-align : middle;
}
.shopping-cart .table tr td .product-title {
  font-size : 1.25rem;
}

.shopping-cart .bootstrap-touchspin .input-group-prepend .btn, .shopping-cart .bootstrap-touchspin .input-group-append .btn {
  background : #F4F5FA;
}

.shopping-cart .bootstrap-touchspin .form-control {
  border-color : #F4F5FA;
}

.shopping-cart .product-action a {
  font-size : 1.25rem;
}
.shopping-cart .product-action a i {
  font-size : 1.25rem;
}

.shopping-cart .price-detail {
  margin-bottom : 0.5rem;
}

.shopping-cart .total-savings {
  color : #1C9066;
  font-size : 0.95rem;
  margin-top : 1rem;
  font-weight : 600;
}

.order-details .order-title {
  font-weight : 600;
  text-transform : uppercase;
}

@media (min-width: 1500px) {
  .shopping-cart .bootstrap-touchspin {
    width : 40%;
  }
}

@media (min-width: 1360px) and (max-width: 1500px) {
  .shopping-cart .bootstrap-touchspin {
    width : 60%;
  }
}

@media (min-width: 1200px) and (max-width: 1359px) {
  .shopping-cart .bootstrap-touchspin {
    width : 80%;
  }
}