#doctor-profile .clndr-controls {
  background : white !important;
  color : black;
}

#doctor-profile .days-of-the-week {
  background : #d1963d;
}

#doctor-profile .day-number {
  border-color : #d1963d;
}

#doctor-profile .today {
  background : #d1963d;
}

#doctor-profile .event-listing-title {
  background : #28D094;
}

/* Add Following Style To make Calendar Responsive in Small Screens */
@media (max-width: 600px) {
  .clndr .clndr-grid {
    width : 100%;
    margin-bottom : 1rem;
  }
  .clndr .event-listing {
    width : 100%;
  }
}