#search-nav .nav {
  border-bottom : 2px solid #E0E0E0;
}

#search-nav .nav-link.active {
  padding-bottom : 9px;
  border-bottom : 2px solid #d1963d;
  margin-bottom : -2px;
}

#search-results .media-search {
  padding-top : 5px;
}