.kw-wrapper .badge {
  margin-bottom : 5px;
  margin-left : 1px;
}

.faq .accordion .card {
  margin : 0 0.25rem;
  border-bottom : 1px solid #F4F5FA !important;
}
.faq .accordion .card:last-child {
  border : none !important;
}

.faq .accordion .card-text {
  padding : 0.25rem 1.25rem;
}

.faq .accordion .btn {
  white-space : normal;
  text-align : right;
}

.loan-wrapper .checked {
  margin-left : 2px;
}

.loan-wrapper.dataTable td {
  border-top : none;
}

.account-wrapper .form-check {
  display : inline;
}

.checked {
  margin-left : 2px;
}

.card-wrapper .action i.success {
  margin-left : 0.1rem;
}

.card-wrapper.dataTable td {
  border-top : none;
}

.pending-payment.dataTable td, .completed-payment.dataTable td {
  border-top : none;
}

.table-wrapper .ac-symbol i {
  font-size : 1.7rem;
}

.table-wrapper .ac-symbol.saving i {
  color : #28D094;
}

.table-wrapper .ac-symbol.joint i {
  color : #FF9149;
}

.table-wrapper .ac-symbol.loan i {
  color : #FF4961;
}

.table-wrapper .ac-symbol.current i {
  color : #d1963d;
}

.table-wrapper.dataTable td {
  border-top : none;
}

#commentForm label.error {
  color : #FF4961;
}

.trans-wrapper i:before {
  font-size : 1rem;
  margin-left : 0.5rem;
}

.wallet-wrapper.dataTable td {
  border-top : none;
}

.wallet-wrapper .currency {
  font-weight : bold;
}
.wallet-wrapper .currency i.cc {
  font-size : 1.4rem;
  margin-left : 0.5rem;
}

.wallet-wrapper .transact {
  text-transform : uppercase;
  font-size : 0.8rem;
  color : #d1963d;
  font-weight : bold;
}
.wallet-wrapper .transact i:before {
  margin-left : 0.1rem;
  display : inline;
  font-size : 1rem;
  color : #28D094;
}
@media only screen and (max-width: 824px) {
  .wallet-wrapper .transact i {
    display : none;
  }
}

.history-wrapper.dataTable td {
  border-top : none;
}

.history-wrapper i:before {
  font-size : 1.4rem;
  margin-left : 0.8rem;
}

.exchange.btn {
  border-radius : 50px;
  width : 150px;
}

.exchange i {
  margin-left : 1rem;
}

.customer-wrapper.dataTable td {
  border-top : none;
}

.customer-wrapper i:before {
  margin-left : 0.3rem;
  font-size : 1rem;
}

.customer-wrapper .option i:before {
  margin-left : 0.3rem;
  font-size : 1.4rem;
}

.customer-wrapper .email i {
  color : #d1963d;
}

.customer-wrapper .tickets i {
  color : #BABFC7;
}

@media only screen and (max-width: 991px) {
  .customer-wrapper .email i {
    display : none;
  }
}

.wizard-info.wizard.wizard-notification .steps ul li:before, .wizard-info.wizard.wizard-notification .steps ul li:after {
  background-color : #d1963d;
}

.wizard-info.wizard.wizard-notification .steps ul li.current .step {
  border : 2px solid #d1963d;
  color : #d1963d;
  line-height : 36px;
}
.wizard-info.wizard.wizard-notification .steps ul li.current .step:after {
  border-top-color : #d1963d;
}

.wizard-info.wizard.wizard-notification .steps ul li.done .step {
  background-color : #d1963d;
  border-color : #d1963d;
}
.wizard-info.wizard.wizard-notification .steps ul li.done .step:last-child {
  color : #FFFFFF;
}
.wizard-info.wizard.wizard-notification .steps ul li.done .step:after {
  border-top-color : #d1963d;
}

.material-vertical-layout #faq-search input.form-control, .material-vertical-layout #knowledge-search input.form-control, .material-horizontal-layout #faq-search input.form-control, .material-horizontal-layout #knowledge-search input.form-control {
  border-bottom-color : #FFFFFF;
  color : #FFFFFF;
}

.material-vertical-layout #faq-search input::-webkit-input-placeholder, .material-vertical-layout #knowledge-search input::-webkit-input-placeholder, .material-horizontal-layout #faq-search input::-webkit-input-placeholder, .material-horizontal-layout #knowledge-search input::-webkit-input-placeholder {
  color : #FFFFFF;
}

.material-vertical-layout #faq-search input:-moz-placeholder, .material-vertical-layout #knowledge-search input:-moz-placeholder, .material-horizontal-layout #faq-search input:-moz-placeholder, .material-horizontal-layout #knowledge-search input:-moz-placeholder {
  color : #FFFFFF;
}

.material-vertical-layout #faq-search input::-moz-placeholder, .material-vertical-layout #knowledge-search input::-moz-placeholder, .material-horizontal-layout #faq-search input::-moz-placeholder, .material-horizontal-layout #knowledge-search input::-moz-placeholder {
  color : #FFFFFF;
}

.material-vertical-layout #faq-search input:-ms-input-placeholder, .material-vertical-layout #knowledge-search input:-ms-input-placeholder, .material-horizontal-layout #faq-search input:-ms-input-placeholder, .material-horizontal-layout #knowledge-search input:-ms-input-placeholder {
  color : #FFFFFF;
}

.material-vertical-layout #faq-search input::placeholder, .material-vertical-layout #knowledge-search input::placeholder, .material-horizontal-layout #faq-search input::placeholder, .material-horizontal-layout #knowledge-search input::placeholder {
  color : #FFFFFF;
}