.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d1963d), to(#7C83EB));
    background-image: -webkit-linear-gradient(top, #d1963d 0%, #d1963d100%);
    background-image: -moz-linear-gradient(top, #d1963d 0%, #d1963d100%);
    background-image: -o-linear-gradient(top, #d1963d 0%, #d1963d100%);
    background-image: linear-gradient(to bottom, #d1963d 0%, #d1963d100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-secondary,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-secondary {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#545766), to(#777B8F));
    background-image: -webkit-linear-gradient(top, #545766 0%, #777B8F 100%);
    background-image: -moz-linear-gradient(top, #545766 0%, #777B8F 100%);
    background-image: -o-linear-gradient(top, #545766 0%, #777B8F 100%);
    background-image: linear-gradient(to bottom, #545766 0%, #777B8F 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-success {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#20A576), to(#39D9A0));
    background-image: -webkit-linear-gradient(top, #20A576 0%, #39D9A0 100%);
    background-image: -moz-linear-gradient(top, #20A576 0%, #39D9A0 100%);
    background-image: -o-linear-gradient(top, #20A576 0%, #39D9A0 100%);
    background-image: linear-gradient(to bottom, #20A576 0%, #39D9A0 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-info {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0C84D1), to(#36A9F3));
    background-image: -webkit-linear-gradient(top, #0C84D1 0%, #36A9F3 100%);
    background-image: -moz-linear-gradient(top, #0C84D1 0%, #36A9F3 100%);
    background-image: -o-linear-gradient(top, #0C84D1 0%, #36A9F3 100%);
    background-image: linear-gradient(to bottom, #0C84D1 0%, #36A9F3 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-warning {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF7216), to(#FFA063));
    background-image: -webkit-linear-gradient(top, #FF7216 0%, #FFA063 100%);
    background-image: -moz-linear-gradient(top, #FF7216 0%, #FFA063 100%);
    background-image: -o-linear-gradient(top, #FF7216 0%, #FFA063 100%);
    background-image: linear-gradient(to bottom, #FF7216 0%, #FFA063 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-danger {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF1635), to(#FF6377));
    background-image: -webkit-linear-gradient(top, #FF1635 0%, #FF6377 100%);
    background-image: -moz-linear-gradient(top, #FF1635 0%, #FF6377 100%);
    background-image: -o-linear-gradient(top, #FF1635 0%, #FF6377 100%);
    background-image: linear-gradient(to bottom, #FF1635 0%, #FF6377 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-red,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-red {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D32F2F), to(#EF5350));
    background-image: -webkit-linear-gradient(top, #D32F2F 0%, #EF5350 100%);
    background-image: -moz-linear-gradient(top, #D32F2F 0%, #EF5350 100%);
    background-image: -o-linear-gradient(top, #D32F2F 0%, #EF5350 100%);
    background-image: linear-gradient(to bottom, #D32F2F 0%, #EF5350 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-pink,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-pink {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C2185B), to(#EC407A));
    background-image: -webkit-linear-gradient(top, #C2185B 0%, #EC407A 100%);
    background-image: -moz-linear-gradient(top, #C2185B 0%, #EC407A 100%);
    background-image: -o-linear-gradient(top, #C2185B 0%, #EC407A 100%);
    background-image: linear-gradient(to bottom, #C2185B 0%, #EC407A 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-purple,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-purple {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7B1FA2), to(#AB47BC));
    background-image: -webkit-linear-gradient(top, #7B1FA2 0%, #AB47BC 100%);
    background-image: -moz-linear-gradient(top, #7B1FA2 0%, #AB47BC 100%);
    background-image: -o-linear-gradient(top, #7B1FA2 0%, #AB47BC 100%);
    background-image: linear-gradient(to bottom, #7B1FA2 0%, #AB47BC 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-blue,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-blue {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1976D2), to(#42A5F5));
    background-image: -webkit-linear-gradient(top, #1976D2 0%, #42A5F5 100%);
    background-image: -moz-linear-gradient(top, #1976D2 0%, #42A5F5 100%);
    background-image: -o-linear-gradient(top, #1976D2 0%, #42A5F5 100%);
    background-image: linear-gradient(to bottom, #1976D2 0%, #42A5F5 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-cyan,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-cyan {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0097A7), to(#26C6DA));
    background-image: -webkit-linear-gradient(top, #0097A7 0%, #26C6DA 100%);
    background-image: -moz-linear-gradient(top, #0097A7 0%, #26C6DA 100%);
    background-image: -o-linear-gradient(top, #0097A7 0%, #26C6DA 100%);
    background-image: linear-gradient(to bottom, #0097A7 0%, #26C6DA 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-teal,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-teal {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00796B), to(#26A69A));
    background-image: -webkit-linear-gradient(top, #00796B 0%, #26A69A 100%);
    background-image: -moz-linear-gradient(top, #00796B 0%, #26A69A 100%);
    background-image: -o-linear-gradient(top, #00796B 0%, #26A69A 100%);
    background-image: linear-gradient(to bottom, #00796B 0%, #26A69A 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-yellow,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-yellow {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FBC02D), to(#FFEE58));
    background-image: -webkit-linear-gradient(top, #FBC02D 0%, #FFEE58 100%);
    background-image: -moz-linear-gradient(top, #FBC02D 0%, #FFEE58 100%);
    background-image: -o-linear-gradient(top, #FBC02D 0%, #FFEE58 100%);
    background-image: linear-gradient(to bottom, #FBC02D 0%, #FFEE58 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-amber,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-amber {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFA000), to(#FFCA28));
    background-image: -webkit-linear-gradient(top, #FFA000 0%, #FFCA28 100%);
    background-image: -moz-linear-gradient(top, #FFA000 0%, #FFCA28 100%);
    background-image: -o-linear-gradient(top, #FFA000 0%, #FFCA28 100%);
    background-image: linear-gradient(to bottom, #FFA000 0%, #FFCA28 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-blue-grey,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-blue-grey {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#455A64), to(#78909C));
    background-image: -webkit-linear-gradient(top, #455A64 0%, #78909C 100%);
    background-image: -moz-linear-gradient(top, #455A64 0%, #78909C 100%);
    background-image: -o-linear-gradient(top, #455A64 0%, #78909C 100%);
    background-image: linear-gradient(to bottom, #455A64 0%, #78909C 100%);
    background-repeat: repeat-x;
}

.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on.bootstrap-switch-grey-blue,
.bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off.bootstrap-switch-grey-blue {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2C303B), to(#78909C));
    background-image: -webkit-linear-gradient(top, #2C303B 0%, #78909C 100%);
    background-image: -moz-linear-gradient(top, #2C303B 0%, #78909C 100%);
    background-image: -o-linear-gradient(top, #2C303B 0%, #78909C 100%);
    background-image: linear-gradient(to bottom, #2C303B 0%, #78909C 100%);
    background-repeat: repeat-x;
}